.contact-form .bound-input{
    margin-bottom: 14px;
}
.contact-form .bound-input span{
    position: absolute;
    line-height: 38px;
    top: 0; right: -10px;
}
.contact-form .bound-input input,
.contact-form .bound-input textarea{
    width: 100%;
    border: 1px solid #e0dede;
    height: 38px;
    outline: none;
    padding-left: 10px;
    border-radius: 3px;
}
.contact-form .bound-input input#txtCaptcha{
    width: 175px;
}
.contact-form .bound-input textarea{
    height: 124px !important;
}
.contact-form .sub-more-news:first-child span{
    font-size: 30px;
    color: #1E8E04;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}
.contact-form .sub-more-news:first-child i{
    color: #1E8E04;
    width: 25px;
}
.contact-form .sub-more-news:first-child p{
    font-size: 16px;
    line-height: 25px;
}
.contact-form .btn-submit{
    height: 34px; line-height: 34px;
    width: 125px;
    text-align: center;
    display: inline-block;
    background: #1E8E04;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    float: right;
    margin-right: 15px;
}
.contact-form .sub-more-news:last-child{
}
