.title-1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fab731;
  font-weight: 700;
  text-align: center;
}
.title-2 {
  // font-size: 40px;
  text-transform: uppercase;
  // font-weight: bold;
  color: #000;
  text-align: center;
}
.section-description {
  gap: 100px;
  margin: auto;
  .col-6 {
    width: calc(100% / 2 - 50px);
    padding: 0;
    img {
      width: 100%;
    }
    .title {
      .title-first {
        color: #fab731;
        font-size: 16px;
      }
      .title-second {
        font-size: 40px;
        font-weight: 700;
        color: #000;
        span {
          color: #ea212d;
          font-family: "PlusJakartaBold" !important;
        }
      }
    }
    .content {
      font-size: 16px;
    }
  }
}
.show-more {
  .all {
    color: #fff;
    padding: 16px 40px;
    border-radius: 100px;
    background: #ea212d;
    transition: all 0.3s;
    &:hover {
      padding: 12px 20px;
      margin: 0 20px;
    }
  }
}
.section-mid {
  min-height: 832px;
  .banner {
  }
  .list-commit {
    width: 100%;
    max-width: 1200px;
    top: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    .commit-box {
      border-radius: 24px;
      padding: 40px;
      background: #fff;
      text-align: center;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

      .commit-img {
        margin-bottom: 40px;
      }
      .commit-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 24px;
        color: #000;
      }
      .commit-content {
        font-size: 16px;
        font-weight: 400px;
      }
      &:hover {
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.section-feedback {
  .list-feedback {
    .slider-for {
      // height: fit-content;
      // border-radius: 12px;
      // overflow: hidden;
      padding: 0 100px;
      .item {
        font-size: 16px;
        text-align: center;
      }
      .slick-arrow {
        position: absolute;
        z-index: 10;
        bottom: 24px;
        cursor: pointer;
      }
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
    .slider-nav {
      padding: 0 175px;
      margin: 30px 0 0;
      .item {
        cursor: pointer;
        opacity: 0.5;

        .feedback-img {
          border-radius: 100px;
          overflow: hidden;
          width: 56px;
          height: 56px;
        }
        .feedback-info {
          .title {
            font-size: 14px;
          }
          .summary {
            font-size: 13px;
          }
        }
      }
      .slick-current {
        .item {
          opacity: 1;
        }
      }
    }
  }
}
.section-register {
  img {
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 809px;
    border-radius: 24px;
    overflow: hidden;
  }
  .sec-content {
    border-radius: 24px;
    border: solid rgb(250, 183, 49);
    border-width: 0 4px 4px 0;
    background: #fff;
    padding: 48px;
    display: grid;
    gap: 18px;
    p {
      padding: 0;
    }
    .cat-title {
      font-size: 18px;
      color: #ea212d;
    }
    .title {
      font-size: 32px;
      font-weight: 700;
      color: #000;
    }
    .summary {
      font-size: 16px;
      color: #757575;
    }
    .content {
      line-height: 30px;
      color: #ea212d;
      font-size: 16px;
      ul {
        li {
          position: relative;
          padding-left: 32px;
          margin-bottom: 10px;
        }

        li::before {
          content: url(../images/icon-li.svg);
          position: absolute;
          left: 0;
        }
      }
    }
    .show-more {
      font-size: 14px;
      .all {
        line-height: 24px;
      }
    }
  }
}
.section-news {
  .slider-hot-news {
    margin: 0 -5px;
    width: calc(100% + 10px);

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #888;
      background: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border: none;
      padding: 0;
      outline: none;
      transform-origin: center;
      transition: 0.3s ease-in-out;

      svg {
        width: 6px;
        height: auto;
        stroke-width: 4;
        transition: 0.3s ease-in-out;
      }

      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }

      &.slick-prev {
        left: -12px;
      }

      &.slick-next {
        right: 0;
      }
      &:hover {
        color: #888;
        background: #fff;
        width: 48px;
        height: 48px;

        svg {
          width: 12px;
          path {
            stroke: #ea212d;
          }
        }
      }
    }
    .slick-slide {
      padding: 8px;
    }
  }
  .list_grid_news {
    .item_new {
      background-color: #fff;
      &:hover {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.12);
      }
    }
  }
  .show-all {
    margin: 12px auto;
    width: fit-content;
    .all {
      color: #ea212d;
      padding: 19px 52px;
      border-radius: 100px;
    }
    &:hover .all {
      background: #ea212d;

      color: #fff;
    }
  }
}

.section-news,
.section-feedback {
  background: #f8f8f8;
}
.section-top {
  .section-top-center {
    width: 100%;
  }

  .banner-carousel {
    border-radius: 4px;
    overflow: hidden;
    .owl-nav {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      margin: 0;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      .owl-prev,
      .owl-next {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin: 0;
        color: #fff;
        transition: 0.1s ease-in-out;
        &:hover {
          background: rgba(0, 0, 0, 0.24);
        }
      }
    }
    .owl-dots {
      left: 0;
      position: absolute;
      width: 100%;
      bottom: 0.75rem;
      .owl-dot {
        span {
          background: rgba(0, 0, 0, 0.24);
          width: 32px;
          height: 4px;
          margin: 0 0.25rem;
        }
        &.active {
          span {
            background: #fff !important;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .title-1 {
    font-size: 16px;
  }
  .title-2 {
    font-size: 34px;
  }
  .section-top {
    .banner-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
  .section-description {
    gap: 48px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: start !important;
    .col-6 {
      width: calc(50% - 24px);
      gap: 1rem !important;
      .title {
        .title-first {
          font-size: 14px;
        }
        .title-second {
          font-size: 28px;
        }
      }
      .content {
        font-size: 14px;
      }
    }
  }
  .show-more {
    .all {
      padding: 12px 22px;
    }
  }
  .section-mid {
    .banner {
    }
    .list-commit {
      position: unset !important;
      margin-top: 48px;
      gap: 32px;
      .commit-box {
        padding: 32px;
      }
    }
  }
  .section-feedback {
    .list-feedback {
      .slider-for {
        .item {
        }
        .slick-arrow {
        }
        .slick-prev {
        }
        .slick-next {
        }
      }
      .slider-nav {
        padding: 0 100px;
        margin: 15px 0;
        .item {
          .feedback-img {
          }
          .feedback-info {
            .title {
            }
            .summary {
            }
          }
        }
        .slick-current {
          .item {
          }
        }
      }
    }
  }
  .section-register {
    img {
    }
    .sec-content {
      padding: 24px;
      gap: 16px;

      .cat-title {
        font-size: 16px;
      }
      .title {
        font-size: 28px;
      }
      .summary {
        font-size: 14px;
      }
      .content {
        line-height: 28px;
        font-size: 14px;
        ul {
          li {
          }

          li::before {
          }
        }
      }
      .show-more {
        .all {
        }
      }
    }
  }
  .section-news {
    .slider-hot-news {
      .slick-arrow {
        svg {
        }

        &.slick-disabled {
        }

        &.slick-prev {
          left: 0;
        }

        &.slick-next {
        }
        &:hover {
          width: 32px;
          height: 32px;
          svg {
            width: 10px;
          }
        }
      }
      .slick-slide {
      }
    }
    .list_grid_news {
      .item_new {
        &:hover {
        }
      }
    }
    .show-all {
      .all {
        padding: 10px 40px;
      }
    }
  }
  .section-top {
    .section-top-center {
    }

    .banner-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          &:hover {
          }
        }
      }
      .owl-dots {
        .owl-dot {
          span {
          }
          &.active {
            span {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .title-1 {
    font-size: 16px;
  }
  .title-2 {
    font-size: 30px;
  }
  .section-top {
    .banner-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          width: 34px;
          height: 34px;
        }
      }
      .owl-dots {
        bottom: 0.25rem;
        .owl-dot {
          span {
            width: 24px;
            height: 2px;
          }
        }
      }
    }
  }
  .section-description {
    gap: 32px;
    flex-direction: column;
    .col-6 {
      width: 100%;
      .title {
        .title-first {
        }
        .title-second {
        }
      }
      .content {
      }
    }
  }
  .show-more {
    .all {
    }
  }
  .section-mid {
    .banner {
    }
    .list-commit {
      grid-template-columns: unset;
      .commit-box {
      }
    }
  }
  .section-feedback {
    .list-feedback {
      .slider-for {
        padding: 0 30px;
        .item {
        }
        .slick-arrow {
        }
        .slick-prev {
        }
        .slick-next {
        }
      }
      .slider-nav {
        padding: 0 30px;
        margin: 15px 0;

        .item {
          text-align: center;
          justify-content: center;
          align-items: center;

          .feedback-img {
          }
          .feedback-info {
            .title {
            }
            .summary {
            }
          }
        }
        .slick-current {
          .item {
          }
        }
      }
    }
  }
  .section-register {
    gap: 16px;
    img {
    }
    .sec-content {
      position: unset !important;
      width: calc(100% - 20px);
      margin: 10px;
      padding: 24px;
      gap: 16px;

      .cat-title {
        font-size: 16px;
      }
      .title {
        font-size: 28px;
      }
      .summary {
        font-size: 14px;
      }
      .content {
        line-height: 28px;
        font-size: 14px;
        ul {
          li {
          }

          li::before {
          }
        }
      }
      .show-more {
        .all {
        }
      }
    }
  }
  .section-news {
    .slider-hot-news {
      .slick-arrow {
        svg {
        }

        &.slick-disabled {
        }

        &.slick-prev {
          left: 0;
        }

        &.slick-next {
        }
        &:hover {
          width: 32px;
          height: 32px;
          svg {
            width: 10px;
          }
        }
      }
      .slick-slide {
      }
    }
    .list_grid_news {
      .item_new {
        &:hover {
        }
      }
    }
    .show-all {
      .all {
        padding: 10px 40px;
      }
    }
  }
  .section-top {
    .section-top-center {
    }

    .banner-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          &:hover {
          }
        }
      }
      .owl-dots {
        .owl-dot {
          span {
          }
          &.active {
            span {
            }
          }
        }
      }
    }
  }
}
