.title-1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fab731;
  font-weight: 700;
  text-align: center;
}
.title-2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.section-description {
  gap: 100px;

  .col-6 {
    width: calc(100% / 2 - 60px);
    padding: 0;
    .title {
      .title-first {
        color: #fab731;
        font-size: 16px;
      }
      .title-second {
        font-size: 40px;
        font-weight: 700;
        span {
          color: #ea212d;
        }
      }
    }
    .content {
      font-size: 16px;
    }
  }
}
.show-more {
  .all {
    color: #fff;
    padding: 19px 41px;
    border-radius: 100px;
    background: #ea212d;
  }
}
.section-feedback {
  .list-feedback {
    .slider-for {
      // height: fit-content;
      // border-radius: 12px;
      // overflow: hidden;
      padding: 0 100px;
      .item {
        font-size: 16px;
        text-align: center;
      }
      .slick-arrow {
        position: absolute;
        z-index: 10;
        bottom: 24px;
        cursor: pointer;
      }
      .slick-prev {
        left: 0;
      }
      .slick-next {
        right: 0;
      }
    }
    .slider-nav {
      padding: 0 175px;
      margin: 30px 0 0;
      .item {
        cursor: pointer;
        opacity: 0.5;

        .feedback-img {
          border-radius: 100px;
          overflow: hidden;
          width: 56px;
          height: 56px;
        }
        .feedback-info {
          .title {
            font-size: 14px;
          }
          .summary {
            font-size: 13px;
          }
        }
      }
      .slick-current {
        .item {
          opacity: 1;
        }
      }
    }
  }
}
.section-register {
  img {
    width: 720px;
    height: 809px;
    border-radius: 24px;
    overflow: hidden;
  }
  .sec-content {
    border-radius: 24px;
    border: solid rgb(250, 183, 49);
    border-width: 0 4px 4px 0;
    background: #fff;
    padding: 48px;
    display: grid;
    gap: 18px;
    p {
      padding: 0;
    }
    .cat-title {
      font-size: 18px;
      color: #ea212d;
    }
    .title {
      font-size: 32px;
      font-weight: 700;
    }
    .summary {
      font-size: 16px;
      color: #757575;
    }
    .content {
      line-height: 30px;
      color: #ea212d;
      font-size: 16px;
      ul {
        li {
          position: relative;
          padding-left: 32px;
          margin-bottom: 10px;
        }

        li::before {
          content: url(../images/icon-li.svg);
          position: absolute;
          left: 0;
        }
      }
    }
    .show-more {
      font-size: 14px;
      .all {
        line-height: 24px;
      }
    }
  }
}
.section-news {
  .slider-hot-news {
    margin: 0 -5px;
    width: calc(100% + 10px);

    .slick-arrow {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #888;
      background: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border: none;
      padding: 0;
      outline: none;
      transform-origin: center;
      transition: 0.3s ease-in-out;

      svg {
        width: 6px;
        height: auto;
        stroke-width: 4;
        transition: 0.3s ease-in-out;
      }

      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }

      &.slick-prev {
        left: -12px;
      }

      &.slick-next {
        right: 0;
      }
      s &:hover {
        color: #888;
        background: #fff;
        width: 48px;
        height: 48px;

        svg {
          width: 12px;
          path {
            stroke: #ea212d;
          }
        }
      }
    }
    .slick-slide {
      padding: 8px;
    }
  }
  .list_grid_news {
    .item_new {
      background-color: #fff;
      &:hover {
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.12);
      }
    }
  }
  .show-all {
    margin: 12px auto;
    width: fit-content;
    .all {
      color: #ea212d;
      padding: 19px 52px;
      border-radius: 100px;
    }
    &:hover .all {
      background: #ea212d;

      color: #fff;
    }
  }
}

.section-news,
.section-feedback {
  background: #f8f8f8;
}
.section-top {
  .section-top-left {
    width: 220px;
    border-radius: 4px;
    padding: 10px 0;
    p {
      color: #a3a3a3;
    }
  }
  .section-top-center {
    width: 100%;
  }
  .section-top-right {
    width: calc(100% - 852px);
  }

  .section-menu {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
    .img-icon {
      transition: 0.1s ease-in-out;
    }
    .img-hover {
      position: absolute;
      left: 1rem;
      opacity: 0;
      transition: 0.1s ease-in-out;
    }
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      &:hover {
        background: #fbece6;
        .img-icon {
          opacity: 0;
        }
        .img-hover {
          opacity: 1;
        }
      }
    }
  }
  .banner-carousel {
    border-radius: 4px;
    overflow: hidden;

    .owl-nav {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      margin: 0;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      .owl-prev,
      .owl-next {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin: 0;
        color: #fff;
        transition: 0.1s ease-in-out;
        &:hover {
          background: rgba(0, 0, 0, 0.24);
        }
      }
    }
    .owl-dots {
      left: 0;
      position: absolute;
      width: 100%;
      bottom: 0.75rem;
      .owl-dot {
        span {
          background: rgba(0, 0, 0, 0.24);
          width: 32px;
          height: 4px;
          margin: 0 0.25rem;
        }
        &.active {
          span {
            background: #fff !important;
          }
        }
      }
    }
  }
  .section-icon {
    color: #a3a3a3;
    font-size: 13px;
    line-height: normal;
  }
  .section-user-banner {
    border-radius: 4px;
    overflow: hidden;
  }
  .section-user {
    border: 1px solid #fff;
    border-radius: 4px;
  }
  .section-user-top {
    background: #fbece6;
    padding: 20px;
    img {
      width: 54px;
      height: 54px;
      border-radius: 100%;
      border: 1px solid #fff;
    }
    .btn-guest {
      width: calc(100% - 0.5rem);
      background: transparent;
      border: 1px solid #d53c00;
      color: #d53c00;
      border-radius: 4px;
      &.btn-login {
        color: #fff;
        background: #d53c00;
      }
      &.btn-logout {
        width: 80px;
        text-wrap: nowrap;
        border-color: #dedede;
        color: #a3a3a3;
      }
      &:hover {
        border-color: #c23700;
        background: #c23700;
        color: #fff;
      }
    }
    p:nth-child(1) {
      margin-bottom: 8px;
    }
    p:nth-child(2) {
      border-radius: 4px;
      padding: 4px 8px;
      background: #fff;
      width: fit-content;
      color: #d53c00;
      font-size: 0.75rem;
      margin-bottom: 0;
      &.user-name {
        background: none;
        padding: 0;
        color: #3b3b3b;
      }
    }
    .user-level {
      border-radius: 4px;
      color: #757575;
      height: 40px;
      padding: 4px !important;
      width: calc(100% - 80px - 0.5rem);
      img {
        height: auto;
        width: auto;
      }
      .icon {
        width: fit-content;
        height: 100%;
        font-size: 11px;
        border-radius: 2px;
        gap: 6px;
        color: #fff;
        padding: 0 8px;
        line-height: normal;
        &.icon-0 {
          background: linear-gradient(
            253deg,
            #917866 -19.37%,
            #d8d6bc 10.01%,
            #7c6455 38.29%,
            #987f6b 65.07%,
            #7c6455 81.43%,
            #7b6353 113.8%
          );
        }
        &.icon-1 {
          background: linear-gradient(
            254deg,
            #abb3c0 -12.91%,
            #dcdfe5 16.41%,
            #97a1ae 44.62%,
            #b3bac6 71.34%,
            #97a1ae 87.66%,
            #959fac 119.95%
          );
        }
        &.icon-2 {
          background: linear-gradient(
            254deg,
            #c59f43 -27.67%,
            #fcf4b6 3.83%,
            #b68828 34.15%,
            #d7ba6f 62.86%,
            #b2931f 80.41%,
            #ad7a1f 115.11%
          );
        }
        &.icon-3 {
          background: linear-gradient(
            254deg,
            #1cafb7 -21.74%,
            #3dd5e1 6.11%,
            #139697 32.91%,
            #1eb7c3 58.29%,
            #139697 73.8%,
            #139294 104.47%
          );
        }
      }
    }
  }
  .section-user-center {
    padding: 10px 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: normal;
    font-size: 13px;
    p {
      font-size: 20px;
    }
  }
  .section-user-bottom {
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px 30px;
    font-size: 13px;
    .section-user-btn {
      margin-bottom: 4px;
      color: #666666;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #d53c00;
        height: 2px;
        width: 0;
        transition: 0.2s ease-in-out;
      }
      &.active {
        color: #d53c00;
        &::before {
          width: 24px;
        }
      }
    }
  }
}

.section-banner {
  img {
    border-radius: 4px;
  }
}

.section-sale-tiktok {
  .section-item {
    border-radius: 4px;
    padding: 20px;
    width: calc((100% - 1rem) / 2);
  }
  .section-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #3b3b3b;
    a {
      font-size: 14px;
      color: #757575;
      &:hover {
        color: #d53c00;
      }
    }
  }
  .section-sale-owl {
    gap: 20px 15px;
  }
  .sale-item {
    width: calc((100% - 30px) / 3);
    .item-img {
      width: 100%;
      height: 174px;
      border: 2px solid #d53c00;
      object-fit: contain;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .item-name {
      font-size: 18px;
      font-weight: 700;
      color: #d53c00;
      margin-bottom: 10px;
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .progress {
      height: 20px;
      background: #f2c3b0;
      border-radius: 100px;
      margin: auto;
      .progress-text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
      }
      .progress-bar {
        background: linear-gradient(270deg, #dd6333 0%, #d53c00 100%);
        border-radius: 100px;
        height: 20px;
      }
    }
    .img-hot {
      width: 21px;
      height: 24px;
      object-fit: contain;
      left: 8px;
    }
  }
  .owl-nav {
    position: absolute;
    margin: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;
    width: calc(100% + 12px);
    transform: translateY(-50%);
    .owl-prev,
    .owl-next {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      margin: 0;
      color: #888 !important;
      background: #fff !important;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in-out;
      svg {
        width: 6px;
        height: auto;
        stroke-width: 4;
      }
      &:hover {
        color: #888 !important;
        background: #fff !important;
        transform: scale(2);
      }
      &.disabled {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .item-tiktok {
    blockquote {
      margin: 0 !important;
    }
  }

  .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    .owl-dot {
      span {
        margin: 0;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #dedede;
      }
      &.active {
        span {
          background: #d53c00;
        }
      }
    }
  }
}

.section-slogan {
  .section-item {
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: calc((100% - 3rem) / 4);
  }
}

.section-product {
  // padding: 20px;
  border-radius: 4px;
  .section-title {
    font-size: 20px;
  }
  .categories {
    color: #757575;
    margin-bottom: 20px;
    .active {
      color: #d53c00;
    }
  }
  .product-gap {
    gap: 15px;
  }
}

.section-flash-sale {
  background-color: #fce9eb;
  padding: 22px;
  border-radius: 16px;
  .title-flash-sale {
    .fs-sale {
      width: calc((100% - 0px) / 2);
    }
    .title-categories {
      p {
        font-size: 24px;
        color: #000000;
        span {
          color: #dd2033;
          padding-left: 7px;
        }
      }
    }
    .time_sales .tile.time_count {
      text-align: end;
      color: #3b3b3b;
      #demo163 {
        font-weight: 300;
        span {
          background-color: #dd2033;
          color: #fff;
          border-radius: 4px;
          margin: 0px 2px;
          padding: 0 2px;
          font-size: 16px;
        }
      }
    }
  }
  .flashsale-listprd {
    gap: 10px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    .layout-product-item {
      width: calc((100% - 50px) / 6);
    }
  }

  .slider-flashsale {
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #888;
      background: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border: none;
      padding: 0;
      outline: none;
      transform-origin: center;
      transition: 0.3s ease-in-out;
      svg {
        width: 6px;
        height: auto;
        stroke-width: 4;
        transition: 0.3s ease-in-out;
      }
      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }
      &.slick-prev {
        left: -12px;
      }
      &.slick-next {
        right: -12px;
      }
      &:hover {
        color: #888;
        background: #fff;
        width: 48px;
        height: 48px;
        svg {
          width: 12px;
        }
      }
    }
    .slick-list.draggable {
      background-color: #fff;
      border-radius: 8px;
      // padding: 0.5rem;
      .slick-track {
        .slick-slide {
          padding: 0 5px;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .section-top {
    flex-direction: column;
    .section-top-left {
      display: none;
    }
    .section-top-center {
      width: 100%;
    }
    .section-top-right {
      width: 100%;
      .section-user-top {
        p {
          font-size: 16px;
        }
      }
      .section-user-bottom {
        padding-bottom: 40px;
        .d-flex {
          justify-content: space-around;
          a {
            font-size: 15px;
            padding-bottom: 5px;
          }
          .active {
            &::before {
              width: 100%;
            }
          }
        }
        .section-user-tab {
          top: 5px;
          font-size: 15px;
        }
      }
      .section-user-banner {
        display: none;
      }
    }
  }

  .section-sale-tiktok {
    flex-direction: column;
    .section-item {
      width: 100%;
      .sale-item {
        .item-img {
          height: calc((100vw - 100px) / 3) !important;
        }
      }
    }
  }
  .section-product {
    .categories {
      a {
        font-size: 15px;
      }
    }
    .product-gap {
      gap: 10px;
      .layout-product-item {
        width: calc((100% - 20px) / 3) !important;
        img {
          height: calc((100vw - 96px) / 3) !important;
        }
      }
    }
  }
  .section-slogan {
    .section-item {
      // flex-direction: column;
      .text-uppercase {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 500px) {
  .section-icon {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .section-sale-tiktok {
    flex-direction: column;
    .section-item {
      width: 100%;
      .sale-item {
        width: calc((100% - 15px) / 2) !important;
        .item-img {
          height: calc((100vw - 85px) / 2) !important;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .section-sale-tiktok {
    .sale-item {
      width: calc((100% - 15px) / 2);
    }
  }
  .section-banner {
    flex-direction: column;
  }
  .section-product {
    .product-gap {
      .layout-product-item {
        width: calc((100% - 15px) / 2) !important;
        img {
          height: calc((100vw - 89px) / 2) !important;
        }
      }
    }
  }
  .section-slogan {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    .section-item {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
  }
}
