.title-1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #fab731;
  font-weight: 700;
  text-align: center;
}

.title-2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.section-description {
  gap: 100px;
}
.section-description .col-6 {
  width: calc(50% - 60px);
  padding: 0;
}
.section-description .col-6 img {
  width: 100%;
}
.section-description .col-6 .title .title-first {
  color: #fab731;
  font-size: 16px;
}
.section-description .col-6 .title .title-second {
  font-size: 40px;
  font-weight: 700;
}
.section-description .col-6 .title .title-second span {
  color: #ea212d;
}
.section-description .col-6 .content {
  font-size: 16px;
}

.show-more .all {
  color: #fff;
  padding: 19px 41px;
  border-radius: 100px;
  background: #ea212d;
}

.section-feedback .list-feedback .slider-for {
  padding: 0 100px;
}
.section-feedback .list-feedback .slider-for .item {
  font-size: 16px;
  text-align: center;
}
.section-feedback .list-feedback .slider-for .slick-arrow {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  cursor: pointer;
}
.section-feedback .list-feedback .slider-for .slick-prev {
  left: 0;
}
.section-feedback .list-feedback .slider-for .slick-next {
  right: 0;
}
.section-feedback .list-feedback .slider-nav {
  padding: 0 175px;
  margin: 30px 0 0;
}
.section-feedback .list-feedback .slider-nav .item {
  cursor: pointer;
  opacity: 0.5;
}
.section-feedback .list-feedback .slider-nav .item .feedback-img {
  border-radius: 100px;
  overflow: hidden;
  width: 56px;
  height: 56px;
}
.section-feedback .list-feedback .slider-nav .item .feedback-info .title {
  font-size: 14px;
}
.section-feedback .list-feedback .slider-nav .item .feedback-info .summary {
  font-size: 13px;
}
.section-feedback .list-feedback .slider-nav .slick-current .item {
  opacity: 1;
}

.section-register img {
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 809px;
  border-radius: 24px;
  overflow: hidden;
}
.section-register .sec-content {
  border-radius: 24px;
  border: solid rgb(250, 183, 49);
  border-width: 0 4px 4px 0;
  background: #fff;
  padding: 48px;
  display: grid;
  gap: 18px;
}
.section-register .sec-content p {
  padding: 0;
}
.section-register .sec-content .cat-title {
  font-size: 18px;
  color: #ea212d;
}
.section-register .sec-content .title {
  font-size: 32px;
  font-weight: 700;
}
.section-register .sec-content .summary {
  font-size: 16px;
  color: #757575;
}
.section-register .sec-content .content {
  line-height: 30px;
  color: #ea212d;
  font-size: 16px;
}
.section-register .sec-content .content ul li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 10px;
}
.section-register .sec-content .content ul li::before {
  content: url(../images/icon-li.svg);
  position: absolute;
  left: 0;
}
.section-register .sec-content .show-more {
  font-size: 14px;
}
.section-register .sec-content .show-more .all {
  line-height: 24px;
}

.section-news .slider-hot-news {
  margin: 0 -5px;
  width: calc(100% + 10px);
}
.section-news .slider-hot-news .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #888;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  padding: 0;
  outline: none;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.section-news .slider-hot-news .slick-arrow svg {
  width: 6px;
  height: auto;
  stroke-width: 4;
  transition: 0.3s ease-in-out;
}
.section-news .slider-hot-news .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.section-news .slider-hot-news .slick-arrow.slick-prev {
  left: -12px;
}
.section-news .slider-hot-news .slick-arrow.slick-next {
  right: 0;
}
.section-news .slider-hot-news .slick-arrow:hover {
  color: #888;
  background: #fff;
  width: 48px;
  height: 48px;
}
.section-news .slider-hot-news .slick-arrow:hover svg {
  width: 12px;
}
.section-news .slider-hot-news .slick-arrow:hover svg path {
  stroke: #ea212d;
}
.section-news .slider-hot-news .slick-slide {
  padding: 8px;
}
.section-news .list_grid_news .item_new {
  background-color: #fff;
}
.section-news .list_grid_news .item_new:hover {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.12);
}
.section-news .show-all {
  margin: 12px auto;
  width: -moz-fit-content;
  width: fit-content;
}
.section-news .show-all .all {
  color: #ea212d;
  padding: 19px 52px;
  border-radius: 100px;
}
.section-news .show-all:hover .all {
  background: #ea212d;
  color: #fff;
}

.section-news,
.section-feedback {
  background: #f8f8f8;
}

.section-top .section-top-center {
  width: 100%;
}
.section-top .banner-carousel {
  border-radius: 4px;
  overflow: hidden;
}
.section-top .banner-carousel .owl-nav {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.section-top .banner-carousel .owl-nav .owl-prev,
.section-top .banner-carousel .owl-nav .owl-next {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: 0;
  color: #fff;
  transition: 0.1s ease-in-out;
}
.section-top .banner-carousel .owl-nav .owl-prev:hover,
.section-top .banner-carousel .owl-nav .owl-next:hover {
  background: rgba(0, 0, 0, 0.24);
}
.section-top .banner-carousel .owl-dots {
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 0.75rem;
}
.section-top .banner-carousel .owl-dots .owl-dot span {
  background: rgba(0, 0, 0, 0.24);
  width: 32px;
  height: 4px;
  margin: 0 0.25rem;
}
.section-top .banner-carousel .owl-dots .owl-dot.active span {
  background: #fff !important;
}

@media all and (max-width: 1000px) {
  .title-1 {
    font-size: 16px;
  }
  .title-2 {
    font-size: 34px;
  }
  .section-description {
    gap: 48px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: start !important;
  }
  .section-description .col-6 {
    width: calc(50% - 24px);
    gap: 1rem !important;
  }
  .section-description .col-6 .title .title-first {
    font-size: 14px;
  }
  .section-description .col-6 .title .title-second {
    font-size: 28px;
  }
  .section-description .col-6 .content {
    font-size: 14px;
  }
  .show-more .all {
    padding: 12px 22px;
  }
  .section-feedback .list-feedback .slider-nav {
    padding: 0 100px;
    margin: 15px 0;
  }
  .section-register .sec-content {
    padding: 24px;
    gap: 16px;
  }
  .section-register .sec-content .cat-title {
    font-size: 16px;
  }
  .section-register .sec-content .title {
    font-size: 28px;
  }
  .section-register .sec-content .summary {
    font-size: 14px;
  }
  .section-register .sec-content .content {
    line-height: 28px;
    font-size: 14px;
  }
  .section-news .slider-hot-news .slick-arrow.slick-prev {
    left: 0;
  }
  .section-news .slider-hot-news .slick-arrow:hover {
    width: 32px;
    height: 32px;
  }
  .section-news .slider-hot-news .slick-arrow:hover svg {
    width: 10px;
  }
  .section-news .show-all .all {
    padding: 10px 40px;
  }
}
@media (max-width: 500px) {
  .title-1 {
    font-size: 16px;
  }
  .title-2 {
    font-size: 30px;
  }
  .section-description {
    gap: 32px;
    flex-direction: column;
  }
  .section-description .col-6 {
    width: 100%;
  }
  .section-feedback .list-feedback .slider-for {
    padding: 0 30px;
  }
  .section-feedback .list-feedback .slider-nav {
    padding: 0 30px;
    margin: 15px 0;
  }
  .section-feedback .list-feedback .slider-nav .item {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .section-register {
    gap: 16px;
  }
  .section-register .sec-content {
    position: unset !important;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 24px;
    gap: 16px;
  }
  .section-register .sec-content .cat-title {
    font-size: 16px;
  }
  .section-register .sec-content .title {
    font-size: 28px;
  }
  .section-register .sec-content .summary {
    font-size: 14px;
  }
  .section-register .sec-content .content {
    line-height: 28px;
    font-size: 14px;
  }
  .section-news .slider-hot-news .slick-arrow.slick-prev {
    left: 0;
  }
  .section-news .slider-hot-news .slick-arrow:hover {
    width: 32px;
    height: 32px;
  }
  .section-news .slider-hot-news .slick-arrow:hover svg {
    width: 10px;
  }
  .section-news .show-all .all {
    padding: 10px 40px;
  }
}/*# sourceMappingURL=default.css.map */