
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.video-slider {
  margin: 0;
  .video-item {
    position: relative;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .right_video{
      width: 50px;
      padding: 10px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      .item_icon{
        color: #fff;
        text-align: center;
        margin-bottom: 12px;
        &:last-child{
          margin-bottom: 0;
        }
        .bo_icon{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          display: grid;
          place-items: center;
          margin-bottom: 5px;
        }
        .text_icon{
          font-size: 12px;
          line-height: 16px;
        }
        .liked{
          background-color: #000;
          pointer-events: none;
          svg path{
            fill: #fff;
          }
        }
      }
    }
  }
}

header {


  .site-logo-pc {
    margin: auto;
  }
  .home_page{
    position: fixed;
    //background: #0000007a;
    padding: 5px 0;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 48px;
    height: 50px;
    display: inline-block;
  }
}

.container {
  padding: 0 !important;

  #main_container {
    margin: 0;

    .main-column {
      padding: 0;
    }
  }
}

video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-unmute-button {
  display: none; /* Ẩn biểu tượng âm lượng mặc định */
  transform: scale(2);
}

video {
  position: relative;

}

/* Tạo biểu tượng âm lượng tùy chỉnh */
video::before {
  content: '\1F50A'; /* Thay thế bằng ký tự Unicode tượng trưng cho biểu tượng âm lượng */
  font-size: 40px; /* Điều chỉnh kích thước của biểu tượng */
  color: #ccc; /* Điều chỉnh màu sắc của biểu tượng */
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transform: scale(2);
}