RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/$1 [R=301,L]

AddType text/x-component .htc
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(index.php|index.html)$ index.php?module=home&view=home&Itemid=1lang=vi[L]
RewriteRule ^&tmpl=1$ index.php?module=home&view=home&Itemid=1&lang=vi[L]
RewriteRule ^$ index.php?module=home&view=home&Itemid=1&lang=vi [L]
RewriteRule ^$ index.php?&lang=vi [L]
RewriteRule ^en$ index.php?module=home&view=home&Itemid=1&lang=en [L]

RewriteRule ^favicon.ico$ images/favicon.ico  [L]
RewriteRule ^sitemap(.*) sitemap.php [L]
RewriteRule ^info(.*) info.php [L]
RewriteRule ^portcheck(.*) portcheck.php [L]
RewriteRule ^rss.xml$ rss.php [L]
RewriteRule ^feeds$ rss.php [L]

#notfound
RewriteRule ^404.html$ index.php?module=home&view=home&task=display404&Itemid=11 [L]
ErrorDocument 404 /404.html

#product
RewriteRule ^([^/]*)-pc([0-9]*).html(.*) index.php?module=products&view=cat&code=$1&id=$2&Itemid=2&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^([^/]*)-p([0-9]*).html(.*) index.php?module=products&view=product&code=$1&id=$2&Itemid=3&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^tim-kiem(.*) index.php?module=products&view=search&Itemid=3&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^gia-tot-hom-nay$ index.php?module=products&view=promotion&Itemid=4&lang=vi&%{QUERY_STRING} [L]

#cart
RewriteRule ^luu-gio-hang$ index.php?module=products&view=cart&task=saveCart&Itemid=200&lang=vi [L]
RewriteRule ^gio-hang$ index.php?module=products&view=cart&Itemid=200&lang=vi [L]
RewriteRule ^dat-hang-thanh-cong$ index.php?module=products&view=cart&task=orderSuccess&Itemid=200&lang=vi [L]

#members
RewriteRule ^tai-khoan-ca-nhan$ index.php?module=members&view=dashboard&Itemid=201&lang=vi [L]
RewriteRule ^dang-ky-tai-khoan$ index.php?module=members&view=user&task=register&Itemid=201&lang=vi [L]
RewriteRule ^dang-nhap$ index.php?module=members&view=user&task=login&Itemid=201&lang=vi [L]
RewriteRule ^don-hang-cua-toi(.*) index.php?module=members&view=orders&Itemid=201&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^chi-tiet-don-hang-([0-9]*)$ index.php?module=members&view=orders&task=detail&id=$1&Itemid=201&lang=vi [L]
RewriteRule ^hang-thanh-vien$ index.php?module=members&view=level&Itemid=201&lang=vi [L]
RewriteRule ^so-dia-chi$ index.php?module=members&view=address&Itemid=201&lang=vi [L]
RewriteRule ^san-pham-yeu-thich$ index.php?module=members&view=favorite&Itemid=201&lang=vi [L]
RewriteRule ^dang-xuat$ index.php?module=members&view=log&task=logout&Itemid=201&lang=vi [L]
RewriteRule ^sign-in-with-google(.*) index.php?module=members&view=google&Itemid=201&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^sign-in-with-facebook(.*) index.php?module=members&view=facebook&Itemid=201&lang=vi&%{QUERY_STRING} [L]
RewriteRule ^fb-oauth-callback(.*) index.php?module=members&view=facebook&task=callback&Itemid=201&lang=vi&%{QUERY_STRING} [L]

#contents
RewriteRule ^([^/]*)-n([0-9]*).html(.*) index.php?module=contents&view=content&code=$1&id=$2&Itemid=5&lang=vi&%{QUERY_STRING} [L]

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_expires.c>
    <FilesMatch ".(jpg|jpeg|gif|png|mp3|flv|mov|avi|3pg|html|htm|swf|pdf|js|css|ico|mp4|webp|svg|otf|ttf|woff)$">
        ExpiresActive on
        ExpiresDefault "access plus 6 months"
    </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
    <FilesMatch ".(js|css|html|htm|php|xml)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_php7.c>
    php_value memory_limit 2048M
</IfModule>

# BEGIN GZIP COMPRESSION
<IfModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>
# END GZIP COMPRESSION

# Compress text, html, javascript, css, xml by Deflate:
<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType x-font/woff2 .woff2
AddType image/x-icon .ico
AddType image/png .png
</IfModule>
# END DEFLATE COMPRESSION

<IfModule mod_headers.c>
    <FilesMatch ".(js|css|xml|gz|html)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>
