.list_product_categories {
  display: flex;
  justify-content: center;
  .box_item {
    .item {
      display: grid;
      justify-items: center;
      gap: 20px;
      padding: 16px 156px 0;
      transition: 0.3s ease-in-out;
      .img-icon {
      }
      .item_name {
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    &:hover {
      .item {
        background-color: #fff;
      }
      .img-icon {
      }
    }
  }
  .active {
    color: #d51e29;
    background-color: #fff;
  }
}
