.menu-site{
	width: 200px;
	@media (max-width: 960px){
		display: none;
	}
	.menu {
		position: unset;
		height: 100%;
		>ul {
			background-color:white;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
			border-radius: 5px;
			padding: 0;
			margin: 0;
			height: 100%;
			li {
				display: flex;
				align-items: center;
				a {
					font-size: 14px;
				}
				&:last-child {
					border: none;
				}
			}
		}
		.menu-categories {
			.level_0 {
				cursor: pointer;
				a {
					display: block;
				}
				.wrapper_children_level0 {
					display: none;
					position: absolute;
					min-height: 100%;
					background: #fff;
					list-style: none;
					margin: 0;
					min-width: 350px;
					font-weight: 400 !important;
					border: none;
					// width: calc(100% - 200px);
					width: 1000px;
					border-radius: 0 10px 10px 10px;
					flex-wrap: wrap;
					min-height: 100%;
					z-index: 10;
					top: 0;
					left: 200px;
					padding: 15px 0;
					border-radius: 5px;
					.level_1{
						z-index: 100;
						line-height: 30px;
						cursor: pointer;
						width: 20%;
						display: inline-block;
						&:hover{
							.wrapper_children_level1{
								li{
									padding: 0;
								}
							}
						}
						>a {
							color: #000;
							text-decoration: none;
							font-weight: bold;
							font-size: 14px;
							width: 100%;
							display: block;
						}
						.wrapper_children_level1{
							display: flex;
							flex-wrap: wrap;
							position: unset;
							background: #fff;
							list-style: none;
							padding: 0;
							li{
								padding: 0;
								width: 100%;
							}
							a{
								color: #999;
								&:not([href='javascript:void(0)']):hover{
									color: #ff6700;
								}
							}
							.level_2{
								display: block;
								ul{
									display: block;
									padding-left: 15px;
									margin-top: 5px;
								}
							}
						}
					}
					> li{
						padding: 0 15px;
						// border-right: 1px solid #ccc;
						&:last-child{
							border-right: none;
						}
						&:nth-child(4n){
							border-right: none;
						}
					}
				}
				.wrapper_children_level2{
					display: none;
				}
				&:hover {
					.wrapper_children_level0 {
						display: flex;
					}
				}
				.lv_0 {
                    padding: 9px 12px;
                    font-weight: bold;
                    font-size: 14px;
                    // color: #000000;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    // background: #fff;
                    transition: 0.1s ease-in-out;
					span{
						display: flex;
						align-items: center;
					}
					img{
						margin-right: 5px;
						width: 20px;
					}
					i {
						position: unset;
						right: 15px;
					}
				}
			}
		}
	}
}

.menu-show-click{
	position: relative;
}
.menu-click{
	position: absolute;
	min-width: 232px;
	top: 20px;
	display: none;
	width: 100%;
	z-index: 999;
}

.moby-overlay.dark{
	background: rgba(0,0,0,0.5) !important;
}

@media (max-width: 1024px) {
	.menu-categories .level_0{
		padding: 0 10px;
	}
	.menu-categories .level_0 .wrapper_children_level0{
		left: 200px;
		width: 720px;
	}
}