#navigation-menu{
  display: none;
  width: 100%;
}
.moby .moby-close .moby-close-icon{
  &:before{
    background: #fff;
  }
  &:after{
    background: #fff;
  }
}
.moby{
  .moby-inner{
    .head-menu-mobile{
      display: flex;
      background: #FF6700;
      justify-content: space-between;
      img{
        align-self: center;
        max-width: 50%;
        padding: 0 10px;
        margin: 0!important;
        height: auto!important;
      }
      .moby-close{
        background: none;
        padding: 14px 0;
        color: #fff;
        .moby-close-icon{
          margin-right: 7px;
        }
      }
    }
    .moby-wrap{
      .moby-menu{
        nav{
          ul{
            padding: 10px;
            li{
              a{
                color: #333333;
                padding: 10px 0;
                border-bottom: 1px solid #d8d8d8;
                display: flex;
                align-items: center;
                font-size: 14px;
                >i{
                  margin-right: 5px;
                }
                img{
                  margin-right: 8px;
                  max-width: 25px;
                }
                .moby-expand{
                  width: auto;
                  padding: 10px 0;
                  color: #333333;
                  span{
                    i{
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .bot_menu{
              a{
                display: block;
                color: #FF6700;
                font-size: 13px;
              }
              .hotline_menu {
                padding-left: 40px;
                background: url("../images/call.svg") top 13px left 2px no-repeat;
                span {
                  display: block;
                  &:first-child {
                    font-family: 'SanFranciscoDisplay';
                  }
                }

              }
              .address {
                padding-left: 40px;
                background: url("../images/map.svg") top 10px left 6px no-repeat;
                position: relative;
              }
              .cart_dd {
                padding-left: 40px;
                background: url("../images/cart.svg") top 6px left 5px no-repeat;
                display: flex;
                align-items: center;
                span:nth-of-type(2) {
                  display: block;
                  font-size: 12px;
                  line-height: 12px;
                  padding: 6px;
                  border-radius: 50%;
                  background-color: #FF6700;
                  color: #fff;
                  margin-left: 5px;
                  width: 24px;
                  height: 24px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}