#menu_mobile {
  display: none;
}

@media (max-width: 960px) {
  #menu_mobile {
    display: block;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    width: 100%;
    background: #eeeeee;
    border-radius: 8px 8px 0 0;
    .menu_cat {
      display: none;
      position: fixed;
      bottom: 63px;
      width: 100%;
      height: calc(100vh - 300px);
      background: #eeeeee;
      border-bottom: solid 1px #333333;
      overflow-y: auto;
      overflow-x: hidden;
      a {
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        .img-hover {
          display: none;
        }
      }
    }
    .member_menu {
      display: none;
      position: fixed;
      bottom: 64px;
      width: 100%;
      height: calc(100vh - 133px);
      background: #eeeeee;
      border-bottom: solid 1px #333333;
      a {
        display: block;
        // width: 25%;
        padding: 20px;
        font-size: 16px;
      }
    }
    .list_menu_mobile {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 15px;
      padding: 0;
      li {
        list-style: none;
        a {
          display: block;
          padding: 10px 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          span {
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
