.menu {
  display: none;
}
.contents_detail{
  .row-list{
    padding: 40px 0;
    .col-list{
      .list{
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        list-style: none;
        font-size: 15px;
        border: 1px solid #ddd;
        .item{
          &:last-child{
            a{
              border-bottom: none;
            }
          }
          a{
            display: block;
            padding: 8px 15px;
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid #ddd;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
  }
}

.content-right{
  .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .col-md-6{
      padding: 0 10px;
    }
    .col-text{
      min-height: 270px;
      .content{
        padding: 20px 0;
        h3{
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        .summary{
          p{
          }
          .title{
            font-weight: bold;
            display: inline-block;
            width: 110px;
          }
          .title2{
            font-weight: bold;
            display: inline-block;
            width: 170px;
          }
        }
      }
      .content-right{
        padding-left: 20px;
      }
    }
    .col-img-1{
      &:before{
        content: '';
        background: url("/images/img/right.png") right no-repeat;
        height: 300px;
        width: 35px;
        position: absolute;
        right: -17px;
      }
    }
    .col-img-2{
      &:before{
        content: '';
        background: url("/images/img/left.png") left no-repeat;
        height: 300px;
        width: 35px;
        position: absolute;
        left: -17px;
      }
    }
  }
}


