.section-breadcrumb {
  background-color: #f5f5f5;
}

.container .section-product-detail {
  gap: 48px;
}
.container .section-product-detail .section-image {
  gap: 12px;
  width: 672px;
}
.container .section-product-detail .section-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .section-product-detail .section-image .box-nav {
  width: 64px;
}
.container .section-product-detail .section-image .box-nav .slick-slide {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  border-color: #ebebeb;
  opacity: 0.5;
}
.container .section-product-detail .section-image .box-nav .slick-slide.slick-current {
  border-color: #d53c00;
  opacity: 1;
}
.container .section-product-detail .section-image .box-nav .slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
  border: none;
  outline: none;
  width: 48px;
  height: 20px;
  z-index: 1;
}
.container .section-product-detail .section-image .box-nav .slick-arrow:hover {
  background: #d53c00;
}
.container .section-product-detail .section-image .box-nav .slick-next {
  border-radius: 0px 0px 2px 2px;
  top: 0;
}
.container .section-product-detail .section-image .box-nav .slick-prev {
  border-radius: 2px 2px 0 0;
  bottom: 10px;
}
.container .section-product-detail .section-image .box-for {
  width: 596px;
  border-radius: 24px;
}
.container .section-product-detail .section-image .box-for img {
  border-radius: 24px;
}
.container .section-product-detail .section-image .box-for .slick-arrow {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  cursor: pointer;
}
.container .section-product-detail .section-image .box-for .slick-prev {
  left: 480px;
}
.container .section-product-detail .section-image .box-for .slick-next {
  right: 24px;
}
.container .section-product-detail .section-main .main_content .p-name {
  font-size: 24px;
  font-weight: 700;
}
.container .section-product-detail .section-main .main_content .p-code-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-code {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-status-in {
  color: #3ba500;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-status-out {
  color: #e71313;
}
.container .section-product-detail .section-main .main_content .p-price {
  padding: 24px;
  display: grid;
  grid-gap: 24px;
  background: #f5f5f5;
  border-radius: 24px;
}
.container .section-product-detail .section-main .main_content .p-price .p-price_retail,
.container .section-product-detail .section-main .main_content .p-price .p-price_discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-price span {
  color: #ea212d;
}
.container .section-product-detail .section-main .main_content .p-price span:last-child {
  font-size: 14px;
}
.container .section-product-detail .section-main .main_content .p-price .title_see_price {
  color: #2476ff;
  flex: unset;
}
.container .section-product-detail .section-main .main_content .p-summary .p-title ul {
  list-style: inside;
  padding-left: 8px;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control {
  width: 64px;
  height: 32px;
  box-shadow: none;
  font-weight: 500;
  text-align: center;
  color: #3b3b3b;
  -moz-appearance: textfield;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control::-webkit-inner-spin-button, .container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control:focus {
  border-color: #dd2033;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:first-child {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:last-child {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button rect {
  transition: 0.15s ease-in-out;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:hover {
  border-color: #dd2033;
  background: #dd2033;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:hover rect {
  fill: #fff;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-line-title {
  color: #757575;
  line-height: 32px;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-form .p-line:last-child {
  margin-bottom: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit {
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit.out-of-stock {
  color: #fff;
  width: calc(400px + 1rem);
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit.out-of-stock svg path {
  fill: rgb(221, 32, 51);
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .add-cart {
  color: #fff;
  background: #dd2033;
  border: 1px solid #dd2033;
  width: 200px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .buy-now {
  color: #dd2033;
  border: 1px solid #dd2033;
  background: #fff;
  width: 200px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .buy-now:hover {
  color: #fff;
  background-color: #dd2033;
}
.container .section-product-detail .section-main .main_content .login-to-buy {
  gap: 8px;
  padding: 16px 40px;
  border-radius: 16px;
  text-align: center;
  background: #ea212d;
  color: #fff;
  transition: all 0.3s;
}
.container .section-product-detail .section-main .main_content .login-to-buy:hover {
  padding: 12px 20px;
  margin: 0 20px;
}
.container .section-description {
  background: #f5f5f5;
  padding: 24px;
  border-radius: 24px;
}
.container .section-description .section-title {
  position: relative;
}
.container .section-description .section-title::before {
  content: "";
  background-color: red;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  left: -22px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.container .section-description .section-body ul {
  list-style: inside;
  padding-left: 8px;
}
.container .section-description .section-body ul li {
  line-height: 24px;
}
.container .section-description .section-body table {
  border: 1px solid #b9b9b9;
}
.container .section-description .section-body table tr {
  padding: 5px;
}
.container .section-description .section-body table tr th {
  background: #e0dfdf;
}
.container .section-description .section-body table tr td {
  padding: 5px;
  border-bottom: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
}
.container .section-description .section-body table tr td:first-child {
  width: 25%;
}
.container .section-description .section-body table tr td:first-child p,
.container .section-description .section-body table tr td:first-child strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
.container .section-description .section-body table tr td:last-child {
  width: 70%;
}

.section-product-related {
  margin-top: 48px;
}
.section-product-related .list-related {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.section-product-related .layout-product-item .box-img {
  background: #fff;
  width: 100%;
  max-width: 276px;
  max-height: 276px;
}
.section-product-related .layout-product-item .box-img .layout-img {
  padding: 24px;
}
.section-product-related .layout-product-item .layout-content {
  margin-top: 0 !important;
  padding: 0 24px;
}
.section-product-related .layout-product-item .layout-name {
  font-size: 14px;
}
.section-product-related .slider-related {
  margin: 0 -5px;
  width: calc(100% + 10px);
}
.section-product-related .slider-related .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #888;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  padding: 0;
  outline: none;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow svg {
  width: 6px;
  height: auto;
  stroke-width: 4;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.section-product-related .slider-related .slick-arrow.slick-prev {
  left: 0;
}
.section-product-related .slider-related .slick-arrow.slick-next {
  right: 0;
}
.section-product-related .slider-related .slick-arrow:hover {
  color: #888;
  background: #fff;
  width: 48px;
  height: 48px;
}
.section-product-related .slider-related .slick-arrow:hover svg {
  width: 12px;
}

.p-title {
  color: #757575;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (max-width: 1000px) {
  .container .section-product-detail {
    flex-direction: column;
    gap: 48px;
  }
  .container .section-product-detail .section-image {
    gap: 24px !important;
    width: 100%;
    justify-content: center !important;
  }
  .container .section-product-detail .section-main {
    width: 100%;
  }
  .container .section-product-detail .section-main .main_content .p-form .p-submit {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .container .section-product-detail {
    gap: 26px !important;
  }
  .container .section-product-detail .section-image {
    width: 100%;
    flex-direction: column-reverse;
  }
  .container .section-product-detail .section-image .box-nav {
    width: 100%;
  }
  .container .section-product-detail .section-image .box-nav .slick-arrow {
    left: unset;
    transform: rotate(90deg);
  }
  .container .section-product-detail .section-image .box-nav .slick-prev {
    left: -11px;
    bottom: 32px;
  }
  .container .section-product-detail .section-image .box-nav .slick-next {
    top: 22px;
    right: -11px;
  }
  .container .section-product-detail .section-image .box-for {
    width: 100%;
  }
  .container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button {
    width: 32px;
  }
  .container .section-product-detail .section-main .main_content .p-form .p-submit .add-cart {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
  }
  .container .section-product-detail .section-main .main_content .p-form .p-submit .buy-now {
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;
  }
  .section-product-related .list-related {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  .section-product-related .layout-product-item .layout-content {
    padding: 0 12px;
  }
}/*# sourceMappingURL=product.css.map */