.section-breadcrumb {
  background-color: #f5f5f5;
}

.container .section-product-detail {
  grid-template-columns: 1fr 1fr;
}
.container .section-product-detail .section-image .box-left_image {
  display: grid;
  grid-template-columns: 70px 596px;
  grid-gap: 12px;
}
.container .section-product-detail .section-image .box-left_image .slider-for {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  overflow: hidden;
}
.container .section-product-detail .section-image .box-left_image .slider-for .item {
  width: 100%;
  height: calc(100vh - 150px);
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
}
.container .section-product-detail .section-image .box-left_image .slider-for .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 24px;
}
.container .section-product-detail .section-image .box-left_image .slider-for .slick-arrow {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  cursor: pointer;
}
.container .section-product-detail .section-image .box-left_image .slider-for .slick-prev {
  right: 76px;
}
.container .section-product-detail .section-image .box-left_image .slider-for .slick-next {
  right: 24px;
}
.container .section-product-detail .section-image .box-left_image .slider-nav {
  margin: 30px 0 0;
}
.container .section-product-detail .section-image .box-left_image .slider-nav .item {
  cursor: pointer;
  width: 100%;
  height: 70px;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0.5;
  margin-bottom: 12px;
}
.container .section-product-detail .section-image .box-left_image .slider-nav .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 12px;
}
.container .section-product-detail .section-image .box-left_image .slider-nav .slick-current .item {
  opacity: 1;
  border: 2px solid #000000;
}
.container .section-product-detail .section-image .box-right_info .bor-bot_detail {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dedede;
}
.container .section-product-detail .section-image .box-right_info .grid_price {
  background-color: rgb(244, 248, 250);
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
}
.container .section-product-detail .section-image .box-right_info .grid_price .left_price .text_normal,
.container .section-product-detail .section-image .box-right_info .grid_price .right_price .text_normal {
  color: rgb(87, 87, 87);
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.container .section-product-detail .section-image .box-right_info .grid_price .left_price .price,
.container .section-product-detail .section-image .box-right_info .grid_price .right_price .price {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(231, 19, 19);
  margin-bottom: 8px;
}
.container .section-product-detail .section-image .box-right_info .grid_price .left_price {
  border-right: 1px solid rgb(222, 222, 222);
}
.container .section-product-detail .section-image .box-right_info .grid_price .right_price {
  padding-left: 40px;
}
.container .section-product-detail .section-image .box-right_info .grid_price .right_price .price {
  color: rgb(0, 103, 152);
}
.container .section-product-detail .section-image .box-right_info .grid_price .right_price .text_red {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(231, 19, 19);
}
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .h3_size_material {
  color: rgb(87, 87, 87);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 15px;
}
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_material-item,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_size-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_material-item .material-item,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_material-item .size-item,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_size-item .material-item,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_size-item .size-item {
  width: 50px;
  height: auto;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  display: inline-block;
}
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_material-item .active,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_size-item .active {
  color: #fff;
  background-color: rgb(0, 103, 152);
  font-weight: 700;
}
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_material-item .disable,
.container .section-product-detail .section-image .box-right_info .size_material .size_material-box .list_size-item .disable {
  pointer-events: none;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #bfbfbf;
}
.container .section-product-detail .section-image .box-right_info .buy_quantity_add {
  display: grid;
  grid-template-columns: 110px auto;
  grid-gap: 12px;
}
.container .section-product-detail .section-image .box-right_info .buy_quantity_add .btn_add-buy .buy-now-prd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background-color: rgb(248, 153, 28);
  border-radius: 8px;
  height: 100%;
  cursor: pointer;
}
.container .section-product-detail .section-image .box-right_info .detail_des ul {
  list-style: inherit;
  padding-left: 2rem;
}
.container .section-product-detail .section-image .box-right_info .detail_des .title-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-product-detail .section-image .box-right_info .detail_des .title-collapse span {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .section-product-detail .section-image .box-right_info .detail_des .title-collapse svg {
  transition: 0.3s ease-in-out;
}
.container .section-product-detail .section-image .box-right_info .detail_des .title-collapse[aria-expanded=true] svg {
  transform: rotateX(180deg);
  transition: 0.3s ease-in-out;
}
.container .section-product-detail .section-image .box-right_info .detail_des .box_answer {
  padding: 24px 0 0 0;
  border: unset;
  font-size: 15px;
  line-height: 21px;
  color: rgb(87, 87, 87);
}
.container .section-product-detail .section-image .box-right_info .hotline_text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .section-product-detail .section-image .box-right_info .hotline_text span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}
.container .section-product-detail .section-image .box-right_info .hotline_text span:last-child {
  font-weight: 700;
}
.container .section-product-detail .section-main .main_content .p-name {
  font-size: 24px;
  font-weight: 700;
}
.container .section-product-detail .section-main .main_content .p-code-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-code {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-status-in {
  color: #3ba500;
}
.container .section-product-detail .section-main .main_content .p-code-status .p-status-out {
  color: #e71313;
}
.container .section-product-detail .section-main .main_content .p-price {
  padding: 24px;
  display: grid;
  grid-gap: 24px;
  background: #f5f5f5;
  border-radius: 24px;
}
.container .section-product-detail .section-main .main_content .p-price .p-price_retail,
.container .section-product-detail .section-main .main_content .p-price .p-price_discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-price .p-price_retail a,
.container .section-product-detail .section-main .main_content .p-price .p-price_discount a {
  color: #2476ff;
}
.container .section-product-detail .section-main .main_content .p-price .p-price_retail a:hover,
.container .section-product-detail .section-main .main_content .p-price .p-price_discount a:hover {
  color: #dd2033;
}
.container .section-product-detail .section-main .main_content .p-summary .p-title ul {
  list-style: inside;
  padding-left: 8px;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control {
  width: 64px;
  height: 32px;
  box-shadow: none;
  font-weight: 500;
  text-align: center;
  color: #3b3b3b;
  -moz-appearance: textfield;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control::-webkit-inner-spin-button, .container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity .form-control:focus {
  border-color: #dd2033;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:first-child {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:last-child {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button rect {
  transition: 0.15s ease-in-out;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:hover {
  border-color: #dd2033;
  background: #dd2033;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-quantity button:hover rect {
  fill: #fff;
}
.container .section-product-detail .section-main .main_content .p-form .p-line .p-line-title {
  color: #757575;
  line-height: 32px;
  font-size: 16px;
}
.container .section-product-detail .section-main .main_content .p-form .p-line:last-child {
  margin-bottom: 0;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit {
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit.out-of-stock {
  color: #fff;
  width: calc(400px + 1rem);
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .btn-submit.out-of-stock svg path {
  fill: rgb(221, 32, 51);
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .add-cart {
  color: #fff;
  background: #dd2033;
  border: 1px solid #dd2033;
  width: 200px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .buy-now {
  color: #dd2033;
  border: 1px solid #dd2033;
  background: #fff;
  width: 200px;
}
.container .section-product-detail .section-main .main_content .p-form .p-submit .buy-now:hover {
  color: #fff;
  background-color: #dd2033;
}
.container .section-description {
  background: #f5f5f5;
  padding: 24px;
  border-radius: 24px;
}
.container .section-description .section-title {
  position: relative;
}
.container .section-description .section-title::before {
  content: "";
  background-color: red;
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  left: -22px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.container .section-description .section-body ul {
  list-style: inside;
  padding-left: 8px;
}
.container .section-description .section-body ul li {
  line-height: 24px;
}

.section-product-related {
  margin-top: 48px;
}
.section-product-related .list-related {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.section-product-related .list-related .layout-product-item .layout-img {
  padding: 24px;
}
.section-product-related .layout-product-item {
  padding-right: 32px;
}
.section-product-related .layout-product-item .box-img {
  background: #fff;
  width: 276px;
  height: 276px;
}
.section-product-related .layout-product-item .box-img .layout-img {
  padding: 24px;
}
.section-product-related .layout-product-item .layout-content {
  margin-top: 20px;
}
.section-product-related .layout-product-item .layout-name {
  font-size: 14px;
}
.section-product-related .slider-related {
  margin: 0 -5px;
  width: calc(100% + 10px);
}
.section-product-related .slider-related .slick-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #888;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  padding: 0;
  outline: none;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow svg {
  width: 6px;
  height: auto;
  stroke-width: 4;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.section-product-related .slider-related .slick-arrow.slick-prev {
  left: -12px;
}
.section-product-related .slider-related .slick-arrow.slick-next {
  right: 12px;
}
.section-product-related .slider-related .slick-arrow:hover {
  color: #888;
  background: #fff;
  width: 48px;
  height: 48px;
}
.section-product-related .slider-related .slick-arrow:hover svg {
  width: 12px;
}

.p-title {
  color: #757575;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.select-menu {
  width: 300px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

@media (max-width: 960px) {
  .section-product-detail .container {
    flex-direction: column;
    gap: 20px;
  }
  .section-product-detail .container .section-image {
    margin: auto;
  }
  .section-product-detail .container .section-main {
    width: 100%;
  }
  .section-more-products .section-more .layout-product-item {
    width: calc((100% - 20px) / 3);
  }
  .section-more-products .section-more .layout-product-item .layout-img {
    height: calc((100vw - 292px) / 3);
  }
}
@media (max-width: 500px) {
  .section-product-detail .container .section-image {
    flex-direction: column;
    width: 100%;
  }
  .section-product-detail .container .section-image .image {
    width: 100%;
  }
  .section-product-detail .container .section-image .image img {
    width: calc(100vw - 30px);
  }
  .section-product-detail .container .section-image .thumbnail {
    width: 100%;
  }
  .section-product-detail .container .section-image .thumbnail img {
    height: 80px;
  }
  .section-product-detail .container .section-image .thumbnail .slick-slide {
    margin: 0 2px;
    border: solid 1px #ebebeb;
    width: 100%;
    height: auto;
  }
  .section-product-detail .container .section-image .thumbnail .slick-current {
    border: solid 1px #dd2033;
  }
  .section-product-detail .container .section-image .thumbnail .slick-arrow {
    left: unset;
  }
  .section-product-detail .container .section-image .thumbnail .slick-prev {
    transform: rotate(90deg);
    left: -11px;
    bottom: 27px;
  }
  .section-product-detail .container .section-image .thumbnail .slick-next {
    transform: rotate(90deg);
    top: 29px;
    right: -11px;
  }
  .section-product-detail .container .section-main {
    width: 100%;
  }
  .section-product-detail .container .section-main .p-price-promotion .p-promotion .gap-1 .title {
    display: none;
  }
  .section-product-detail .container .section-main .p-form {
    padding: 20px 0px;
  }
  .section-product-detail .container .section-main .p-form .p-line .gap-4 {
    flex-direction: column !important;
    gap: 15px !important;
  }
  .section-product-detail .container .section-main .p-form .p-submit a {
    width: 180px;
  }
  .section-product-detail .container .section-main .p-form .p-submit .add-like {
    width: 48px;
  }
  .section-product-detail .container .section-main .p-form .p-submit .add-like span {
    display: none;
  }
  .section-grid {
    grid-template-columns: 1fr;
  }
  .section-more-products .section-more .layout-product-item {
    width: calc((100% - 10px) / 2);
  }
  .section-more-products .section-more .layout-product-item .layout-img {
    height: calc((100vw - 44px) / 2);
  }
}/*# sourceMappingURL=product.css.map */