.select-menu {
  width: 300px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.select {
  border: 1px solid #dedede;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #111;
  font-weight: 300;
}

.options-list {
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 0px 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: 0.4s linear 0.2s;
  height: 0;
}
.options-list .filter-div {
  padding: 15px 0 0 0;
}
.options-list .filter-div:last-child {
  padding: 15px 0 15px 0;
}

.option {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.option:hover,
.option.selected {
  color: #00a8ff;
}

.options-list::-webkit-scrollbar {
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #00a8ff;
}

.options-list.active {
  height: 160px;
}
.options-list.active .filter-div a.active {
  color: #dd2033;
}

.section-item {
  border-radius: 4px;
}

.section-padding {
  padding: 12px 0px;
  margin-bottom: 12px;
}

.section-product-detail .container {
  justify-content: space-between;
  gap: 20px;
}

.section-image {
  width: calc(100% - 584px);
}
.section-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-image .image {
  width: 616px;
}
.section-image .image img {
  height: 616px;
}
.section-image .thumbnail {
  width: 100%;
}
.section-image .thumbnail .slick-slide {
  opacity: 0.5;
  width: 112px !important;
  height: 112px;
  border-radius: 10px;
  margin: 0 6px;
  overflow: hidden;
  border-color: #ebebeb;
  transition: all 0.3s;
}
.section-image .thumbnail .slick-slide.slick-current {
  border: 3px solid #dd2033;
}
.section-image .thumbnail .slick-slide.slick-current.slick-active {
  border-color: #dd2033;
  opacity: 1;
}
.section-image .slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  z-index: 1;
}
.section-image .slick-next {
  top: 25%;
  left: 0;
}
.section-image .slick-prev {
  top: 25%;
  right: 0;
}

.section-main {
  width: calc(100% - 616px);
}
.section-main .p-name {
  font-size: 20px;
  margin-bottom: 12px;
}
.section-main .p-sub-title {
  color: #a3a3a3;
  font-size: 13px;
  margin-bottom: 12px;
}
.section-main .p-trademark {
  margin-bottom: 12px;
  color: #757575;
}
.section-main .p-trademark .wrap {
  width: 1px;
  height: 18px;
  background: #dedede;
}
.section-main .p-trademark .p-status-in {
  color: #3ba500;
}
.section-main .p-trademark .p-status-out {
  color: #e71313;
}
.section-main .p-line {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}
.section-main .p-line .p-line-title {
  color: #757575;
  line-height: 32px;
}
.section-main .p-line:last-child {
  margin-bottom: 0;
}
.section-main .p-price-promotion {
  border-radius: 4px;
  overflow: hidden;
}
.section-main .p-price-promotion .layout-public-price {
  display: flex;
  gap: 0.5rem;
  line-height: normal;
}
.section-main .p-price-promotion .layout-public-price .price {
  color: #dd2033;
  font-size: 14px;
  font-weight: 700;
}
.section-main .p-price-promotion .layout-public-price .price span {
  font-weight: 400;
  font-size: 12px;
}
.section-main .p-price-promotion .layout-public-price .sold-out {
  font-size: 12px;
  color: #757575;
}
.section-main .p-price-promotion .layout-public-price .layout-info .item-percent {
  padding: 3px;
  color: #dd2033;
  background: #fce9eb;
  font-size: 13px;
  font-weight: 600;
  border-radius: 4px;
}
.section-main .p-price-public {
  color: #dd2033;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
.section-main .p-price-public span {
  font-size: 14px;
  font-weight: 500;
}
.section-main .p-price-discount {
  color: #dd2033;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.section-main .p-price-discount span {
  font-size: 14px;
  font-weight: 500;
}
.section-main .p-price-origin {
  color: #757575;
  font-size: 16px;
  line-height: normal;
  text-decoration: line-through;
}
.section-main .p-price-origin span {
  font-size: 14px;
  font-weight: 400;
}
.section-main .p-sale-brief ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}
.section-main .p-sale-brief ul li {
  position: relative;
  background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.8125 9L7.935 11.1225L12.1875 6.8775M9 16.5C13.125 16.5 16.5 13.125 16.5 9C16.5 4.875 13.125 1.5 9 1.5C4.875 1.5 1.5 4.875 1.5 9C1.5 13.125 4.875 16.5 9 16.5Z" stroke="%23D53C00" stroke-linecap="round" stroke-linejoin="round"/></svg>') left top no-repeat;
  padding-left: 24px;
}
.section-main .p-promotion {
  height: 36px;
  background: url("/images/flash-background.jpg") no-repeat;
  background-size: cover;
  color: #f2c3b0;
}
.section-main .count-down {
  color: #fff;
  font-weight: 500;
  line-height: normal;
}
.section-main .count-down span {
  background: #972b00;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 20px;
}
.section-main .p-form {
  padding: 28px 0px;
}
.section-main .p-choose {
  min-width: 80px;
  height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.section-main .p-choose.out-of-stock {
  background: #f5f5f5;
  color: #bfbfbf;
  border-color: #f5f5f5;
}
.section-main .p-choose.active {
  background: #dd2033;
  border-color: #dd2033;
  color: #fff;
}
.section-main .p-choose.p-type.out-of-stock {
  background: #f5f5f5;
  color: #bfbfbf;
  border-color: #f5f5f5;
  pointer-events: none;
}
.section-main .p-choose:hover {
  border-color: #dd2033;
}
.section-main .p-quantity .form-control {
  width: 64px;
  height: 32px;
  box-shadow: none;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  color: #3b3b3b;
  -moz-appearance: textfield;
}
.section-main .p-quantity .form-control::-webkit-inner-spin-button, .section-main .p-quantity .form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.section-main .p-quantity .form-control:focus {
  border-color: #dd2033;
}
.section-main .p-quantity button {
  border: 1px solid #dedede;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.section-main .p-quantity button:first-child {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.section-main .p-quantity button:last-child {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.section-main .p-quantity button rect {
  transition: 0.15s ease-in-out;
}
.section-main .p-quantity button:hover {
  border-color: #dd2033;
  background: #dd2033;
}
.section-main .p-quantity button:hover rect {
  fill: #fff;
}
.section-main .add-cart {
  color: #fff;
  background: #dd2033;
  border: 1px solid #dd2033;
  width: 200px;
}
.section-main .buy-now {
  color: #dd2033;
  border: 1px solid #dd2033;
  background: #fff;
  width: 200px;
}
.section-main .add-like {
  color: #a3a3a3;
  background: #fff;
}
.section-main .add-like.added {
  pointer-events: none;
  color: #fff;
}
.section-main .add-like.added svg path {
  fill: rgb(221, 32, 51);
}
.section-main .btn-submit {
  height: 48px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-main .btn-submit.out-of-stock {
  color: #fff;
  width: calc(400px + 1rem);
}
.section-main .btn-submit.out-of-stock svg path {
  fill: rgb(221, 32, 51);
}
.section-main .btn-submit:hover {
  color: #fff;
}
.section-main .btn-submit:hover svg path {
  fill: rgb(221, 32, 51);
}
.section-main .b-collapse .p-collapse {
  background: #fff;
  border: none;
  color: #3b3b3b;
  letter-spacing: 3px;
  font-size: 16px;
}
.section-main .b-collapse .collapse {
  max-width: 100%;
}
.section-main .b-collapse .collapse img {
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-main .bd-row {
  height: 1px;
  border: 0.5px solid #ebebeb;
}

p img {
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-product-related {
  padding: 20px;
  border-radius: 4px;
}
.section-product-related .list-related {
  gap: 10px;
}
.section-product-related .list-related .layout-product-item {
  width: calc((100% - 50px) / 5);
}
.section-product-related .list-related .layout-product-item .layout-img {
  height: 183px;
}
.section-product-related .slider-related {
  margin: 0 -5px;
  width: calc(100% + 10px);
}
.section-product-related .slider-related .layout-product-item {
  margin: 0 5px;
}
.section-product-related .slider-related .slick-arrow {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  color: #888;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  padding: 0;
  outline: none;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow svg {
  width: 6px;
  height: auto;
  stroke-width: 4;
  transition: 0.3s ease-in-out;
}
.section-product-related .slider-related .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
.section-product-related .slider-related .slick-arrow.slick-prev {
  left: -12px;
}
.section-product-related .slider-related .slick-arrow.slick-next {
  right: -12px;
}
.section-product-related .slider-related .slick-arrow:hover {
  color: #888;
  background: #fff;
  width: 48px;
  height: 48px;
}
.section-product-related .slider-related .slick-arrow:hover svg {
  width: 12px;
}

.section-item {
  padding: 20px;
  border-radius: 4px;
}
.section-technical .item-technical {
  margin-bottom: 0.5rem;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}
.section-technical .item-technical .title-technical {
  color: #757575;
}
.section-technical .item-technical:last-child {
  margin-bottom: 0;
}

.section-description .description-main {
  overflow: hidden;
}
.section-description .description-main img {
  max-width: 100% !important;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: auto !important;
  height: auto !important;
}
.section-description .description-main video,
.section-description .description-main iframe {
  max-width: 100% !important;
}
.section-description .description-main.less {
  max-height: 250px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000 60%, transparent);
}
.section-description .btn-more-less {
  color: #dd2033;
  background: transparent;
  border: none;
  padding: 6px 16px;
}
.section-description .btn-more-less span:nth-child(2) {
  display: none;
}
.section-description .btn-more-less.less i {
  transform: scale(1, -1);
}
.section-description .btn-more-less.less span:nth-child(1) {
  display: none;
}
.section-description .btn-more-less.less span:nth-child(2) {
  display: block;
}

.section-hot-selling .layout-product-item {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
.section-hot-selling .layout-product-item .layout-img {
  height: 178px;
}
.section-hot-selling .layout-product-item:last-child {
  margin-bottom: 0;
}

.section-more-products h2 {
  margin-bottom: 20px;
  font-size: 18px;
}
.section-more-products .section-more {
  gap: 10px;
}
.section-more-products .layout-product-item {
  width: calc((100% - 50px) / 6);
}
.section-more-products .layout-product-item .layout-img {
  height: 150.33px;
}
.section-more-products .layout-product-item .layout-info {
  min-height: 44px;
}
.section-more-products .layout-product-item .layout-public-price .price {
  font-size: 14px;
}

.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.star-rating::before {
  content: "\f005\f005\f005\f005\f005";
  background: linear-gradient(90deg, #f7a928 var(--percent), #dedede var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-rate {
  display: grid;
  grid-template-columns: auto 630px;
  grid-gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
}
.section-rate .image {
  padding-left: 20px;
  border-left: 1px solid #ebebeb;
}
.section-rate .rate-overview {
  gap: 12px;
  color: #858585;
  line-height: normal;
}
.section-rate .rate-overview .star-rating {
  font-size: 24px;
}
.section-rate .rate-overview .percent-rate {
  font-size: 36px;
  color: #dd2033;
}
.section-rate .rate-detail-item {
  margin-bottom: 4px;
}
.section-rate .rate-detail-item:last-child {
  margin-bottom: 0;
}
.section-rate .progress {
  width: 140px;
  height: 6px;
  border-radius: 4px;
  --bs-progress-bar-bg: #dd2033;
  --bs-progress-bg: #ebebeb;
}
.section-rate .item-image {
  border-radius: 4px;
  overflow: hidden;
}
.section-rate .item-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-rate .item-image .more-image {
  background: rgba(0, 0, 0, 0.64);
  line-height: normal;
}

.section-comment-filter {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
}
.section-comment-filter a {
  padding: 8px 16px;
  line-height: normal;
  border: 1px solid #dedede;
  border-radius: 2px;
}
.section-comment-filter a.active {
  color: #dd2033;
  border-color: #dd2033;
}
.section-comment-filter a:hover {
  border-color: #dd2033;
}

.item-comment {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.item-comment .rate-name {
  color: #dd2033;
}
.item-comment .comment-time {
  font-size: 13px;
  color: #858585;
}
.item-comment .comment-admin {
  background: #f5f5f5;
  padding: 12px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 24px auto;
  grid-gap: 8px;
}
.item-comment .comment-image img {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}

.section-comment .more-comment {
  color: #dd2033;
}

h2.h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
}

@media (max-width: 960px) {
  .section-product-detail .container {
    flex-direction: column;
    gap: 20px;
  }
  .section-product-detail .container .section-image {
    margin: auto;
  }
  .section-product-detail .container .section-main {
    width: 100%;
  }
  .section-more-products .section-more .layout-product-item {
    width: calc((100% - 20px) / 3);
  }
  .section-more-products .section-more .layout-product-item .layout-img {
    height: calc((100vw - 292px) / 3);
  }
}
@media (max-width: 500px) {
  .section-product-detail .container .section-image {
    flex-direction: column;
    width: 100%;
  }
  .section-product-detail .container .section-image .image {
    width: 100%;
  }
  .section-product-detail .container .section-image .image img {
    width: calc(100vw - 30px);
  }
  .section-product-detail .container .section-image .thumbnail {
    width: 100%;
  }
  .section-product-detail .container .section-image .thumbnail img {
    height: 80px;
  }
  .section-product-detail .container .section-image .thumbnail .slick-slide {
    margin: 0 2px;
    border: solid 1px #ebebeb;
    width: 100%;
    height: auto;
  }
  .section-product-detail .container .section-image .thumbnail .slick-current {
    border: solid 1px #dd2033;
  }
  .section-product-detail .container .section-image .thumbnail .slick-arrow {
    left: unset;
  }
  .section-product-detail .container .section-image .thumbnail .slick-prev {
    transform: rotate(90deg);
    left: -11px;
    bottom: 27px;
  }
  .section-product-detail .container .section-image .thumbnail .slick-next {
    transform: rotate(90deg);
    top: 29px;
    right: -11px;
  }
  .section-product-detail .container .section-main {
    width: 100%;
  }
  .section-product-detail .container .section-main .p-price-promotion .p-promotion .gap-1 .title {
    display: none;
  }
  .section-product-detail .container .section-main .p-form {
    padding: 20px 0px;
  }
  .section-product-detail .container .section-main .p-form .p-line .gap-4 {
    flex-direction: column !important;
    gap: 15px !important;
  }
  .section-product-detail .container .section-main .p-form .p-submit a {
    width: 180px;
  }
  .section-product-detail .container .section-main .p-form .p-submit .add-like {
    width: 48px;
  }
  .section-product-detail .container .section-main .p-form .p-submit .add-like span {
    display: none;
  }
  .section-grid {
    grid-template-columns: 1fr;
  }
  .section-more-products .section-more .layout-product-item {
    width: calc((100% - 10px) / 2);
  }
  .section-more-products .section-more .layout-product-item .layout-img {
    height: calc((100vw - 44px) / 2);
  }
}/*# sourceMappingURL=product.css.map */