.section-breadcrumb {
  background-color: #f5f5f5;
}
.container {
  .section-product-detail {
    grid-template-columns: 1fr 1fr;
    .section-image {
      .box-left_image {
        display: grid;
        grid-template-columns: 70px 596px;
        grid-gap: 12px;
        .slider-for {
          height: fit-content;
          border-radius: 12px;
          overflow: hidden;
          .item {
            width: 100%;
            height: calc(100vh - 150px);
            height: 100%;
            overflow: hidden;
            border-radius: 24px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 24px;
            }
          }
          .slick-arrow {
            position: absolute;
            z-index: 10;
            bottom: 24px;
            cursor: pointer;
          }
          .slick-prev {
            right: 76px;
          }
          .slick-next {
            right: 24px;
          }
        }
        .slider-nav {
          margin: 30px 0 0;
          .item {
            cursor: pointer;
            width: 100%;
            height: 70px;
            overflow: hidden;
            border-radius: 12px;
            opacity: 0.5;
            margin-bottom: 12px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 12px;
            }
          }
          .slick-current {
            .item {
              opacity: 1;
              border: 2px solid #000000;
            }
          }
        }
      }

      .box-right_info {
        // height: fit-content;
        // grid-area: 1/2/3/2;
        .bor-bot_detail {
          padding-bottom: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid #dedede;
        }
        .grid_price {
          background-color: rgba(244, 248, 250, 1);
          padding: 24px;
          border-radius: 8px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-bottom: 24px;
          .left_price,
          .right_price {
            .text_normal {
              color: rgba(87, 87, 87, 1);
              font-size: 12px;
              line-height: 15px;
              font-weight: 400;
              margin-bottom: 8px;
              text-transform: uppercase;
            }
            .price {
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
              color: rgba(231, 19, 19, 1);
              margin-bottom: 8px;
            }
          }
          .left_price {
            border-right: 1px solid rgba(222, 222, 222, 1);
          }
          .right_price {
            padding-left: 40px;
            .price {
              color: rgba(0, 103, 152, 1);
            }
            .text_red {
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
              color: rgba(231, 19, 19, 1);
            }
          }
        }
        .size_material {
          .size_material-box {
            .h3_size_material {
              color: rgba(87, 87, 87, 1);
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              margin-bottom: 15px;
            }
            .list_material-item,
            .list_size-item {
              display: flex;
              align-items: center;
              gap: 12px;
              margin-bottom: 24px;
              .material-item,
              .size-item {
                width: 50px;
                height: auto;
                padding: 16px 0;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                text-align: center;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: #000;
                display: inline-block;
              }
              .active {
                color: #fff;
                background-color: rgba(0, 103, 152, 1);
                font-weight: 700;
              }
              .disable {
                pointer-events: none;
                border: 1px solid #f5f5f5;
                background-color: #f5f5f5;
                color: #bfbfbf;
              }
            }
          }
        }
        .buy_quantity_add {
          display: grid;
          grid-template-columns: 110px auto;
          grid-gap: 12px;
          .btn_add-buy {
            .buy-now-prd {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 700;
              color: #fff;
              background-color: rgba(248, 153, 28, 1);
              border-radius: 8px;
              height: 100%;
              cursor: pointer;
            }
          }
        }
        .detail_des {
          ul {
            list-style: inherit;
            padding-left: 2rem;
          }
          .title-collapse {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-size: 16px;
              line-height: 22px;
              text-transform: uppercase;
              color: #000;
              font-weight: 700;
              letter-spacing: 2px;
              text-transform: uppercase;
            }
            svg {
              transition: 0.3s ease-in-out;
            }
          }
          .title-collapse[aria-expanded="true"] {
            svg {
              transform: rotateX(180deg);
              transition: 0.3s ease-in-out;
            }
          }

          .box_answer {
            padding: 24px 0 0 0;
            border: unset;
            font-size: 15px;
            line-height: 21px;
            color: rgba(87, 87, 87, 1);
          }
        }
        .hotline_text {
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: #000;
            &:last-child {
              font-weight: 700;
            }
          }
        }
      }
    }
    .section-main {
      .main_content {
        .p-name {
          font-size: 24px;
          font-weight: 700;
        }
        .p-code-status {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          .p-code {
            display: flex;
            align-items: center;
            gap: 4px;
          }

          .p-status-in {
            color: #3ba500;
          }
          .p-status-out {
            color: #e71313;
          }
        }
        .p-price {
          padding: 24px;
          display: grid;
          grid-gap: 24px;
          background: #f5f5f5;
          border-radius: 24px;
          .p-price_retail,
          .p-price_discount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            a {
              color: #2476ff;
              &:hover {
                color: #dd2033;
              }
            }
          }
        }
        .p-summary {
          .p-title {
            ul {
              list-style: inside;
              padding-left: 8px;
            }
          }
        }
        .p-form {
          .p-line {
            // margin-bottom: 16px;
            .p-quantity {
              .form-control {
                width: 64px;
                height: 32px;
                box-shadow: none;
                font-weight: 500;
                text-align: center;
                color: #3b3b3b;
                -moz-appearance: textfield;
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                }
                &:focus {
                  border-color: #dd2033;
                }
              }
              button {
                width: 32px;
                height: 32px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                &:first-child {
                  border-radius: 2px 0 0 2px;
                  border-right: 0;
                }
                &:last-child {
                  border-radius: 0 2px 2px 0;
                  border-left: 0;
                }
                rect {
                  transition: 0.15s ease-in-out;
                }
                &:hover {
                  border-color: #dd2033;
                  background: #dd2033;
                  rect {
                    fill: #fff;
                  }
                }
              }
            }
            .p-line-title {
              color: #757575;
              line-height: 32px;
              font-size: 16px;
            }
            .p-line-content {
              input {
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .p-submit {
            .btn-submit {
              height: 48px;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              &.out-of-stock {
                color: #fff;
                width: calc(400px + 1rem);
                svg path {
                  fill: rgb(221, 32, 51);
                }
              }
            }
            .add-cart {
              color: #fff;
              background: #dd2033;
              border: 1px solid #dd2033;
              width: 200px;
            }
            .buy-now {
              color: #dd2033;
              border: 1px solid #dd2033;
              background: #fff;
              width: 200px;
              &:hover {
                color: #fff;
                background-color: #dd2033;
              }
            }
          }
        }
      }
    }
  }
  .section-description {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 24px;
    .section-title {
      position: relative;
      &::before {
        content: "";
        background-color: red;
        height: 100%;
        width: 4px;
        position: absolute;
        top: 0;
        left: -22px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }

    .section-body {
      ul {
        list-style: inside;
        padding-left: 8px;
        li {
          line-height: 24px;
        }
      }
    }
  }
}
.section-product-related {
  margin-top: 48px;
  .list-related {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    .layout-product-item {
      .layout-img {
        padding: 24px;
      }
    }
  }
  .layout-product-item {
    padding-right: 32px;
    .box-img {
      background: #fff;
      width: 276px;
      height: 276px;
      .layout-img {
        padding: 24px;
      }
    }
    .layout-content {
      margin-top: 20px;
    }
    .layout-name {
      font-size: 14px;
    }
  }
  .slider-related {
    margin: 0 -5px;
    width: calc(100% + 10px);

    .slick-arrow {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      color: #888;
      background: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border: none;
      padding: 0;
      outline: none;
      transform-origin: center;
      transition: 0.3s ease-in-out;

      svg {
        width: 6px;
        height: auto;
        stroke-width: 4;
        transition: 0.3s ease-in-out;
      }

      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }

      &.slick-prev {
        left: -12px;
      }

      &.slick-next {
        right: 12px;
      }

      &:hover {
        color: #888;
        background: #fff;
        width: 48px;
        height: 48px;

        svg {
          width: 12px;
        }
      }
    }
  }
}
.p-title {
  color: #757575;
}
.section-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.select-menu {
  width: 300px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

@media (max-width: 960px) {
  .section-product-detail {
    .container {
      flex-direction: column;
      gap: 20px;
      .section-image {
        margin: auto;
      }
      .section-main {
        width: 100%;
      }
    }
  }
  .section-more-products {
    .section-more {
      .layout-product-item {
        width: calc((100% - 20px) / 3);
        .layout-img {
          height: calc((100vw - 292px) / 3);
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .section-product-detail {
    .container {
      .section-image {
        flex-direction: column;
        width: 100%;
        .image {
          width: 100%;
          img {
            // padding: 0 2px;
            width: calc(100vw - 30px);
          }
        }
        .thumbnail {
          width: 100%;
          img {
            height: 80px;
          }
          .slick-slide {
            margin: 0 2px;
            border: solid 1px #ebebeb;
            width: 100%;
            height: auto;
          }
          .slick-current {
            border: solid 1px #dd2033;
          }
          .slick-arrow {
            left: unset;
          }
          .slick-prev {
            transform: rotate(90deg);
            left: -11px;
            bottom: 27px;
          }
          .slick-next {
            transform: rotate(90deg);
            top: 29px;
            right: -11px;
          }
        }
      }
      .section-main {
        width: 100%;
        .p-price-promotion {
          .p-promotion {
            .gap-1 {
              .title {
                display: none;
              }
            }
          }
        }
        .p-form {
          padding: 20px 0px;
          .p-line {
            .gap-4 {
              flex-direction: column !important;
              gap: 15px !important;
            }
          }
          .p-submit {
            // flex-direction: column !important;
            a {
              width: 180px;
            }
            .add-like {
              width: 48px;
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .section-grid {
    grid-template-columns: 1fr;
  }
  .section-more-products {
    .section-more {
      .layout-product-item {
        width: calc((100% - 10px) / 2);
        .layout-img {
          height: calc((100vw - 44px) / 2);
        }
      }
    }
  }
}
