@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf");
}
@font-face {
  font-family: "PlusJakartaBold";
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf");
}
.container {
  max-width: 1200px !important;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}

main {
  background-color: #ffffff;
  padding-bottom: 48px;
}

h2,
h3 {
  font-family: "PlusJakartaBold";
}

h3 {
  font-size: 40px;
  font-weight: 800;
}

p,
span {
  font-family: "PlusJakartaSans";
}

header li a {
  font-family: "PlusJakartaBold";
  font-weight: 700;
}

body {
  font-family: "PlusJakartaSans";
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  color: #3b3b3b;
  overflow-x: hidden;
  background: #fff;
}
body a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
body a:hover {
  text-decoration: none;
}
body .fw-600 {
  font-weight: 600;
}
body .font-size-12 {
  font-size: 12px;
}
body .font-size-16 {
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
header .header-container {
  height: 80px;
}
header .btn-menu_mobile {
  display: none;
}
header .search_header {
  position: relative;
}
header .members_header {
  position: relative;
  cursor: pointer;
}
header .members_header .user_login_btn {
  font-size: 14px;
  line-height: 14px;
  color: #000;
}
header .members_header .user_login_btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
header .members_header .box_members_click {
  display: none;
  width: 250px;
  padding: 12px 24px;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 10;
  border: 1px solid #fff;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
}
header .members_header .box_members_click .user_login_btn.user_header_btn img {
  width: 44px;
  height: 44px;
}
header .members_header .box_members_click .user_login_btn.user_header_btn img span {
  margin-left: 10px;
}
header .members_header .box_members_click .row-p {
  height: 1px;
  background: #ebebeb;
  margin: 15px 0px 5px 0px;
}
header .members_header .box_members_click .btn-guest-2 {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  color: #2476ff;
  font-size: 12px;
  line-height: 19px;
  padding: 10px 0px;
  border-radius: 8px;
}
header .members_header .box_members_click .btn-guest {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 700;
  color: #000;
  font-size: 12px;
  line-height: 19px;
  padding: 10px 0px;
  border-radius: 8px;
}
header .members_header .box_members_click .btn-guest svg {
  position: relative;
  left: 0;
  transition: 0.3s ease-in-out;
}
header .members_header .box_members_click .btn-guest span {
  position: relative;
  left: 0;
  transition: 0.3s ease-in-out;
}
header .members_header .box_members_click .btn-guest:hover svg {
  left: 12px;
}
header .members_header .box_members_click .btn-guest:hover svg path {
  stroke: #ea212d;
}
header .members_header .box_members_click .btn-guest:hover span {
  color: #ea212d;
  left: 12px;
}
header .members_header:hover .box_members_click {
  display: block;
}
header .cart_header {
  position: relative;
  cursor: pointer;
}
header .cart_header:hover .cart-hover {
  display: block;
}
header .cart_header .cart-hover {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  padding: 24px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fff;
  border-radius: 16px;
  z-index: 10;
}
header .cart_header .cart-hover .cart-hover-header {
  padding: 0 0 12px 0;
  color: #757575;
  text-transform: uppercase;
  border-bottom: 1px solid #f2f2f2;
}
header .cart_header .cart-hover .cart-hover-header h3.title_cart {
  font-size: 14px;
  font-weight: lighter;
}
header .cart_header .cart-hover .cart-hover-header .quantity_cart {
  text-transform: none;
}
header .cart_header .cart-hover .cart-hover-header .quantity_cart span {
  font-weight: 600;
}
header .cart_header .cart-hover .cart-hover-footer {
  border-top: 1px solid #f2f2f2;
  padding: 12px;
}
header .cart_header .cart-hover .cart-hover-footer .text-tamtinh span {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 14px;
}
header .cart_header .cart-hover .cart-hover-footer a {
  line-height: normal;
  padding: 17px 20px;
  color: #fff;
  background: #dd2033;
  border-radius: 8px;
  width: 100%;
  display: block;
}
header .cart_header .cart-hover .cart-hover-footer a:hover {
  background: #c91d2e;
}
header .cart_header .cart-hover .cart-hover-body {
  padding: 6px 0;
}
header .cart_header .cart-hover .cart-hover-item {
  padding: 12px 12px;
  display: grid;
  grid-template-columns: 88px 3fr;
  grid-gap: 12px;
  line-height: normal;
}
header .cart_header .cart-hover .cart-hover-item img {
  border-radius: 4px;
  width: 88px;
  height: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
header .cart_header .cart-hover .cart-hover-item .sub-name {
  color: #949494;
  font-size: 12px;
  margin: 6px 0px 16px 0px;
}
header .cart_header .cart-hover .cart-hover-item .sub-name p span.span-price-origin {
  color: #757575;
  font-size: 14px;
  line-height: normal;
  text-decoration: line-through;
}
header .cart_header .cart-hover .cart-hover-item .delete-cart {
  right: -15px !important;
  transition: all 0.3s;
}
header .cart_header .cart-hover .cart-hover-item .delete-cart:hover svg path {
  stroke: #c91d2e;
}
header .cart_header .cart-hover .cart-hover-item .item-price {
  font-weight: lighter;
  font-size: 16px;
  color: #3b3b3b;
}

footer {
  background: #1c1c1c;
  padding: 48px 0;
}
footer .grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 120px;
  margin-bottom: 32px;
}
footer .grid_footer .grid_footer-col .site_name-footer {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
  text-transform: uppercase;
}
footer .grid_footer .grid_footer-col .info_company {
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 8px;
}
footer .grid_footer .grid_footer-col .info_company p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #a3a3a3;
}
footer .grid_footer .grid_footer-col .menu-footer .menu-item {
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #a3a3a3;
  margin-bottom: 20px;
}
footer .grid_footer .grid_footer-col .menu-footer .menu-item:hover {
  color: #fff;
  text-decoration: underline;
}
footer .grid_footer .grid_footer-col .htlk-box p {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #a3a3a3;
}
footer .grid_footer .grid_footer-col:first-child .site_name-footer {
  text-transform: uppercase;
}
footer .footer-bot {
  display: grid;
  gap: 24px;
}
footer .footer-bot .info {
  display: flex;
  gap: 18px;
  margin: 0 auto;
}
footer .footer-bot .copyright {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #a3a3a3;
  text-align: center;
}

.section-banner {
  text-align: center;
}
.section-banner .item-banner .name-banner {
  font-size: 40px;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.sec-mar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title_see_price {
  color: #757575;
  flex: auto;
}
.title_see_price:hover {
  color: #dd2033;
}

.btn-submit.add-cart {
  cursor: pointer;
}

.list-products_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
}

.layout-product-item {
  background: #fff;
}
.layout-product-item .box-img {
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 24px;
  max-width: 368px;
  max-height: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-product-item .box-img .layout-img {
  border-radius: 24px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease-in-out;
  padding: 48px;
}
.layout-product-item .layout-content {
  background: #fff;
  margin-top: 28px;
}
.layout-product-item .layout-name {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
  color: #000;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-size: 16px;
}
.layout-product-item .layout-public-price {
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-product-item .layout-public-price .price .title,
.layout-product-item .layout-public-price .price_discount .title {
  color: rgb(117, 117, 117);
}
.layout-product-item .layout-public-price .price .value,
.layout-product-item .layout-public-price .price_discount .value {
  font-size: 16px;
  font-weight: 700;
}
.layout-product-item .layout-public-price .price_discount span {
  color: rgb(234, 33, 45);
}
.layout-product-item .layout-public-price .price_discount span:last-child {
  font-size: 12px;
}
.layout-product-item:hover .layout-img {
  transform: scale(1.12);
}

.list_grid_news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}
.list_grid_news .item_new {
  overflow: hidden;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 16px;
  transition: all 0.3s;
  height: 100%;
  max-height: 305px;
}
.list_grid_news .item_new .img-box {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  border-radius: 16px;
  max-height: 178px;
  overflow: hidden;
  margin-bottom: 15px;
}
.list_grid_news .item_new .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.list_grid_news .item_new .info-box {
  transition: all 0.3s;
  padding: 8px;
}
.list_grid_news .item_new .info-box .created_cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.list_grid_news .item_new .info-box .created_cat span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(163, 163, 163);
  transition: all 0.3s;
}
.list_grid_news .item_new .info-box .created_cat span:last-child {
  color: #ea212d;
}
.list_grid_news .item_new .info-box .title_new {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  transition: all 0.7s;
  transform: translateY(0px);
}
.list_grid_news .item_new .info-box .summary_new {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: rgb(117, 117, 117);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.list_grid_news .item_new:hover .img-box {
  max-height: 145px;
}
.list_grid_news .item_new:hover .img-box img {
  transform: rotate(-10deg) scale(1.2);
}
.list_grid_news .item_new:hover .info-box .created_cat {
  padding-bottom: 15px;
  margin-bottom: 0;
}
.list_grid_news .item_new:hover .info-box .title_new {
  transform: translateY(-10px);
  -webkit-line-clamp: 2;
}
.list_grid_news .item_big {
  grid-area: 1/1/3/3;
  height: 100%;
  max-height: 622px;
}
.list_grid_news .item_big .img-box {
  max-height: 373px;
}
.list_grid_news .item_big .info-box .created_cat span {
  font-size: 14px;
  line-height: 18px;
}
.list_grid_news .item_big .info-box .title_new {
  font-size: 20px;
  line-height: 28px;
}
.list_grid_news .item_big .info-box .summary_new {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: rgb(117, 117, 117);
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}
.list_grid_news .item_big:hover .img-box {
  max-height: 300px;
}

.pagination {
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}
.pagination .other-page,
.pagination .next-page,
.pagination .last-page,
.pagination .current,
.pagination .pre-page,
.pagination .first-page {
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  color: var(--Black, #222);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.pagination .current {
  background: #dd2033;
  color: #fff;
}
.pagination .next-page,
.pagination .last-page,
.pagination .pre-page,
.pagination .first-page {
  background: #fff;
}

.cart-session-right.position-absolute {
  top: -5px;
  display: block;
  color: #fff;
  left: 15px;
}
.cart-session-right.position-absolute .cart-quantity.cart-text-quantity {
  height: 17px;
  width: 17px;
  background: red;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
}

.flash-message-container {
  background: rgba(0, 0, 0, 0);
  display: none;
  z-index: 1056;
}
.flash-message-container#msgModal {
  background: rgba(0, 0, 0, 0.3);
}
.flash-message-container .flash-message {
  border-radius: 4px;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.12);
  width: 320px;
}
.flash-message-container .flash-message.success, .flash-message-container .flash-message.alert {
  background: #ebf6e6;
  color: #2a7500;
}
.flash-message-container .flash-message.success .svg-success, .flash-message-container .flash-message.alert .svg-success {
  display: inline-block;
}
.flash-message-container .flash-message.success .svg-error, .flash-message-container .flash-message.alert .svg-error {
  display: none;
}
.flash-message-container .flash-message.error {
  background: #fbece6;
  color: #dd2033;
}
.flash-message-container .flash-message.error .svg-success {
  display: none;
}
.flash-message-container .flash-message.error .svg-error {
  display: inline-block;
}

.side-left_btn,
.side-right_btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

.side-left_btn {
  left: 20px;
  bottom: 20px;
}
.side-left_btn .circle-tel {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #9a0000;
  border: 6px solid rgba(154, 0, 0, 0.72);
}
.side-left_btn .circle-tel::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 4px solid rgba(190, 32, 47, 0.56);
  border-radius: 100%;
  animation: shake-bottom-detail 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@media (max-width: 1025px) {
  .side-left_btn .circle-tel {
    left: 10px;
    bottom: 10px;
  }
  .side-left_btn .circle-tel::before {
    width: 50px;
    height: 50px;
  }
  .side-left_btn .circle-tel svg {
    width: 26px;
    height: auto;
  }
}
.side-left_btn .circle-tel .examm {
  display: none;
  position: absolute;
  left: 40px;
  background-color: rgba(190, 32, 47, 0.56);
  padding: 5px 5px 5px 20px;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
}
.side-left_btn .circle-tel:hover .examm {
  display: block;
}
.side-left_btn .shake-bottom {
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@keyframes shake-bottom {
  0%, 100% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
@keyframes shake-bottom-detail {
  0%, 100% {
    box-shadow: 0 0 0px 6px rgba(154, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 0px 2px rgba(154, 0, 0, 0.5);
  }
}

.side-right_btn {
  right: 10px;
  bottom: 10px;
}
.side-right_btn #zalo:hover svg rect,
.side-right_btn #messenger:hover svg rect {
  fill: #0866dc;
}
.side-right_btn #go-top:hover svg rect {
  fill: #a61720;
}

.password-rule {
  color: #a3a3a3;
  display: none;
  align-items: center;
  gap: 2px;
}
.password-rule svg {
  display: none;
}

.password-rule.success {
  color: #3ba500;
  display: block;
}
.password-rule.success svg:nth-child(1) {
  display: inline-block;
}

.password-rule.error {
  display: block;
  color: #e71313;
}
.password-rule.error svg:nth-child(2) {
  display: inline-block;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  top: 0%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1000px) {
  h3 {
    font-size: 32px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .offcanvas-top {
    height: 90vh !important;
  }
  header {
    padding: 10px 0;
  }
  header .header-container {
    height: unset;
  }
  header .header-container .btn-menu_mobile {
    display: block;
    border: unset;
    background-color: #fff;
    outline: unset;
  }
  header .header-container .menu-header {
    display: none;
  }
  footer .grid_footer {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 20px;
  }
  .sec-mar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list_grid_news .item_new .info-box .created_cat span {
    font-size: 10px;
  }
  .list_grid_news .item_new .info-box .created_cat span:last-child {
    color: #ea212d;
  }
  .list_grid_news .item_new .info-box .title_new {
    margin-bottom: 8px;
  }
  .list_grid_news .item_new:hover .info-box .title_new {
    -webkit-line-clamp: 2;
  }
  .list_grid_news .item_big {
    grid-area: 1/1/3/3;
  }
  .list_grid_news .item_big .img-box {
    max-height: 392px;
  }
  .list_grid_news .item_big .info-box .created_cat span {
    font-size: 14px;
    line-height: 18px;
  }
  .list_grid_news .item_big .info-box .title_new {
    font-size: 20px;
    line-height: 28px;
  }
  .list_grid_news .item_big .info-box .summary_new {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: rgb(117, 117, 117);
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }
  .list-products_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
  .section-banner {
    text-align: center;
  }
  .section-banner .item-banner .name-banner {
    font-size: 32px;
    top: -10px;
  }
}
@media all and (max-width: 500px) {
  header .header-container .block-members_cart_lang .cart_header .cart-hover {
    width: 300px;
    right: -40px;
  }
  footer .grid_footer {
    grid-template-columns: unset;
  }
  .list_grid_news {
    grid-template-columns: unset;
  }
  .list-products_grid {
    grid-template-columns: unset;
    grid-gap: 12px;
  }
  .layout-product-item .box-img .layout-img {
    padding: 24px;
  }
  .section-banner {
    text-align: center;
  }
  .section-banner .item-banner .name-banner {
    font-size: 24px;
  }
}/*# sourceMappingURL=main.css.map */