@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}

.scroll-auto {
  scroll-behavior: auto;
}
.btn-submit.add-cart {
  cursor: pointer;
}
.container {
  max-width: 1200px !important;
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  color: #3b3b3b;
  overflow-x: hidden;
  background: #fff;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      text-decoration: none;
      color: #dd2033;
    }
  }
  .fw-600 {
    font-weight: 600;
  }
  .font-size-12 {
    font-size: 12px;
  }
  .font-size-16 {
    font-size: 16px;
  }
}

.header-top {
  border-bottom: 1px solid #f4f4f4;
  color: #757575;
  .container {
    height: 32px;
  }
  span {
    width: 1px;
    height: 12px;
    background: #dedede;
  }
  .user-menu-header {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #fff;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0 0 4px 4px;
    padding: 8px 0;
    min-width: 140px;
    background: #fff;
    z-index: 3;
    a {
      display: block;
      padding: 8px 16px;
      background: #fff;
      line-height: normal;
      &:hover {
        color: #dd2033;
        background: #f4f4f4;
      }
    }
  }
  .user-btn {
    img {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      object-fit: cover;
    }
  }
  .user:hover {
    .user-menu-header {
      display: block;
    }
    .user-btn img {
      border-color: #dd2033;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  .header-container {
    height: 70px;
  }
  .img-logo {
    width: 142.5px;
  }
  .cart-quantity {
    right: 4px;
    top: 0;
    border-radius: 16px;
    background: #dd2033;
    width: 23px;
    height: 13px;
    color: #fff;
    font-size: 0.75rem;
  }
  .Login {
    grid-template-columns: 1.5fr 8fr;
  }
  .heder-center {
    svg {
      position: absolute;
      right: 20px;
      path {
        transition: 0.15s ease-in-out;
      }
    }
    .form-control {
      height: 40px;
      width: 670px;
      // border: 2px solid #DD2033;
      font-size: inherit;
      border-radius: 50px;
      box-shadow: none;
      padding: 5px 10px 5px 20px;
      // border-right: 0;
      &::placeholder {
        color: #757575;
      }
      &:focus ~ svg path {
        stroke: #dd2033;
      }
    }
    button,
    a {
      background: linear-gradient(270deg, #dd2033 0%, #dd6333 100%);
      height: 40px;
      width: 100px;
      padding: 0;
      color: #fff;
      border-radius: 0 4px 4px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
      }
    }
  }
  .cart-hover {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    z-index: 2;
    display: none;
    padding: 24px;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 8px;

    .cart-hover-header {
      padding: 0 0 12px 0;
      color: #757575;
      text-transform: uppercase;
      border-bottom: 1px solid #f2f2f2;
      h3.title_cart {
        font-size: 14px;
        font-weight: lighter;
      }
      .quantity_cart {
        text-transform: none;
        span {
          font-weight: 600;
        }
      }
    }
    .cart-hover-footer {
      // background: #f2f2f2;
      border-top: 1px solid #f2f2f2;
      padding: 12px;
      .text-tamtinh {
        span {
          letter-spacing: 4px;
          text-transform: uppercase;
          margin-right: 10px;
          font-size: 14px;
        }
      }
      a {
        line-height: normal;
        padding: 17px 20px;
        color: #fff;
        background: #dd2033;
        border-radius: 8px;
        width: 100%;
        display: block;
        &:hover {
          background: #c91d2e;
        }
      }
    }
    .cart-hover-body {
      padding: 6px 0;
    }
    .cart-hover-item {
      padding: 12px 12px;
      display: grid;
      grid-template-columns: 88px 3fr;
      grid-gap: 12px;
      line-height: normal;
      img {
        border-radius: 4px;
        width: 88px;
        height: 88px;
        object-fit: contain;
        // border: 1px solid #dedede;
        border-radius: 8px;
      }
      .sub-name {
        color: #949494;
        font-size: 12px;
        margin: 6px 0px 16px 0px;
        p span.span-price-origin {
          color: #757575;
          font-size: 14px;
          line-height: normal;
          text-decoration: line-through;
        }
      }
      .delete-cart {
        right: -15px !important;
      }
      .item-price {
        // text-align: right;
        font-weight: lighter;
        font-size: 16px;
        color: #3b3b3b;
      }
    }
  }
  .header-right {
    width: 100px;
    position: relative;
    &:hover {
      .cart-hover {
        display: block;
      }
    }
  }
  .cart-session {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .cart-session-right {
      p {
        color: var(--Neutral-N500, #3b3b3b);
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

footer {
  .container {
    border-radius: 4px;
  }
  .footer-top {
    padding: 20px;
    border-bottom: 1px solid #f4f4f4;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #666666;
    .title {
      color: #3b3b3b;
    }
    .mb-2:last-child {
      margin-bottom: 0 !important;
    }
  }
  .footer-bottom {
    padding: 20px;
    color: #757575;
  }
}

.layout-product-item {
  background: #fff;
  // border: 1px solid #ebebeb;
  border-radius: 4px;
  overflow: hidden;
  width: calc((100% - 75px) / 6);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0);
  z-index: 3;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  .box-img {
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    max-height: 200px;
    .layout-img {
      border-radius: 4px;
      // padding: 0.5rem;
      width: 100%;
      // height: 200px;
      object-fit: contain;
      transition: 0.3s ease-in-out;
    }
  }

  .layout-content {
    padding: 0.75rem 0.5rem;
    position: relative;
    z-index: 2;
    background: #fff;
  }
  .layout-name {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    -webkit-line-clamp: 2;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 12px;
    color: #2e2e2e;
    // font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    height: 16px;
  }
  .layout-origin-price {
    color: #757575;
    font-size: 13px;
    line-height: normal;
    height: 15px;
    text-decoration: line-through;
    span {
      text-decoration: none;
      font-size: 12px;
    }
  }
  .layout-public-price {
    display: flex;
    // align-items: flex-end;
    // justify-content: space-between;
    gap: 0.5rem;
    line-height: normal;
    .price {
      color: #dd2033;
      font-size: 14px;
      font-weight: 700;
      span {
        font-weight: 400;
        font-size: 12px;
      }
    }
    .sold-out {
      font-size: 12px;
      color: #757575;
    }
  }
  .layout-info {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 10px;
    font-weight: 500;
    // margin-bottom: 12px;
    min-height: 22px;
    .item-info {
      padding: 0 4px;
      border-radius: 2px;
      line-height: normal;
      display: flex;
      width: fit-content;
      height: 16px;
      align-items: center;
    }
    .item-flash {
      color: #fff;
      background: linear-gradient(277deg, #dd2033 0%, #dd6333 100%);
    }
    .item-gift {
      color: #fff;
      background: linear-gradient(45deg, #2d388a 0%, #00aeef 100%);
    }
    .item-freeship {
      color: #fff;
      background: linear-gradient(45deg, #ff104a 0%, #ff9f8f 100%);
    }
    .item-percent {
      color: #dd2033;
      background: #fce9eb;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .layout-addcart {
    transition: all 0.3s;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    p {
      background: #fff;
      color: #3b3b3b;
      max-width: 135px;
      margin: auto;
      padding: 10px 15px;
      border-radius: 8px;
    }
    & p:hover {
      background: #dd2033;
      color: #ffffff;
    }
  }
  &:hover {
    .layout-content {
      .layout-name {
        color: #dd2033;
      }
    }
    .layout-img {
      padding: 0;
      transform: scale(1.12);
    }
    .layout-addcart {
      transform: translateY(-90px);
    }
  }
}

@keyframes ldio {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.loadingio-spinner {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  background: #ffffff;
  margin: 20px auto 0;
  .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .ldio div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #dd2033;
    animation: ldio 1s linear infinite;
  }
  .ldio div:nth-child(1) > div {
    left: 74px;
    top: 44px;
    animation-delay: -0.875s;
  }
  .ldio > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 80px 50px;
  }
  .ldio div:nth-child(2) > div {
    left: 65px;
    top: 65px;
    animation-delay: -0.75s;
  }
  .ldio > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 71px 71px;
  }
  .ldio div:nth-child(3) > div {
    left: 44px;
    top: 74px;
    animation-delay: -0.625s;
  }
  .ldio > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 50px 80px;
  }
  .ldio div:nth-child(4) > div {
    left: 23px;
    top: 65px;
    animation-delay: -0.5s;
  }
  .ldio > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 29px 71px;
  }
  .ldio div:nth-child(5) > div {
    left: 14px;
    top: 44px;
    animation-delay: -0.375s;
  }
  .ldio > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 20px 50px;
  }
  .ldio div:nth-child(6) > div {
    left: 23px;
    top: 23px;
    animation-delay: -0.25s;
  }
  .ldio > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 29px 29px;
  }
  .ldio div:nth-child(7) > div {
    left: 44px;
    top: 14px;
    animation-delay: -0.125s;
  }
  .ldio > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 50px 20px;
  }
  .ldio div:nth-child(8) > div {
    left: 65px;
    top: 23px;
    animation-delay: 0s;
  }
  .ldio > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 71px 29px;
  }
}

.breadcrumb {
  color: #757575;
}

.flash-message-container {
  background: rgba(0, 0, 0, 0);
  display: none;
  z-index: 1056;
  &#msgModal {
    background: rgba(0, 0, 0, 0.3);
  }
  .flash-message {
    border-radius: 4px;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.12);
    width: 320px;
    &.success,
    &.alert {
      background: #ebf6e6;
      color: #2a7500;
      .svg-success {
        display: inline-block;
      }
      .svg-error {
        display: none;
      }
    }
    &.error {
      background: #fbece6;
      color: #dd2033;
      .svg-success {
        display: none;
      }
      .svg-error {
        display: inline-block;
      }
    }
  }
}

#memberModal {
  .modal-dialog {
    max-width: 420px;
  }
  .modal-content {
    border-radius: 4px;
  }
  .d-grid {
    grid-template-columns: 1fr;
  }
  .btn-close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
    opacity: 1;
    background-color: #fff;
    border-radius: 100%;
    color: inherit;
    padding: 0;
    transition: 0.15s ease-in-out;
    &:hover {
      background-color: #dd2033;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
  }
  .grid-banner {
    background: #fbece6;
    color: #e37c54;
    border-radius: 0 4px 4px 0;
  }
  .grid-content {
    border-radius: 4px 0 0 4px;
  }
  .form-control {
    padding: 8px 16px;
    height: 48px;
    border-radius: 4px;
    border-color: #f5f5f5;
    color: inherit;
    font-size: inherit;
    background: #f5f5f5;
    box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
    &::placeholder {
      color: #a3a3a3;
    }
    &:focus {
      border-color: #dd2033;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
    }
    &.form-otp {
      background: #fff;
      text-align: center;
      font-size: 32px;
      border-radius: 0;
      box-shadow: none !important;
      border: none;
      border-bottom: 1px solid #dedede;
      width: 32px;
      height: 58px;
      padding: 2px;
      -moz-appearance: textfield;
      &.active,
      &:focus {
        border-color: #dd2033;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .form-submit {
    padding: 8px 16px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background: #dd2033;
    transition: all 0.3s;
    &:hover {
      background: #c91d2e;
    }
  }
  .wrap {
    color: #a3a3a3;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background: #ebebeb;
    }
    span {
      background: #fff;
      padding: 0 16px;
      z-index: 1;
    }
  }
  .btn-log-with {
    height: 48px;
    border-radius: 4px;
    background: #f5f5f5;
    border: 1px solid #fff;
    &:hover {
      color: #3b3b3b;
      border: 1px solid #c91d2e;
    }
  }
  .text-red {
    color: #dd2033;
  }
  .text-blue {
    color: #2476ff;
  }
}

.label_error {
  margin-top: 0.25rem;
  color: #e71313;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  top: 0%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-rule {
  color: #a3a3a3;
  display: none;
  align-items: center;
  gap: 2px;
  svg {
    display: none;
  }
  &.success {
    color: #3ba500;
    svg:nth-child(1) {
      display: inline-block;
    }
  }
  &.error {
    color: #e71313;
    svg:nth-child(2) {
      display: inline-block;
    }
  }
}
#menu_mobile {
  display: none;
}

@media (max-width: 960px) {
  .open-menu-cat {
    overflow: hidden !important;
  }
  .container {
    padding: 0 15px;
    max-width: 100% !important;
  }
  .header-top {
    display: none !important;
  }
  .header-container {
    display: grid !important;
    grid-template-columns: 100px 1fr 40px;
    grid-gap: 20px;
    .heder-center {
      .form-control {
        width: 100%;
      }
    }
    .header-right {
      width: 40px;
    }
  }
  footer {
    .footer-top {
      grid-template-columns: 1fr 1fr;
      padding: 20px 0;
      gap: 20px;
    }
  }
  #memberModal {
    .modal-dialog {
      max-width: 80%;
      margin: auto;
      .d-grid {
        grid-template-columns: unset;
        .grid-banner {
          display: none !important;
        }
      }
    }
  }
  #form-cart {
    .gap-3 {
      flex-direction: column !important;
      .col-6 {
        width: 100% !important;
      }
    }
  }
  #menu_mobile {
    display: block;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    width: 100%;
    background: #eeeeee;
    border-radius: 8px 8px 0 0;
    .menu_cat {
      display: none;
      position: fixed;
      bottom: 63px;
      width: 100%;
      height: calc(100vh - 133px);
      background: #eeeeee;
      border-bottom: solid 1px #333333;
      overflow-y: auto;
      overflow-x: hidden;
      a {
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        .img-hover {
          display: none;
        }
      }
    }
    .member_menu {
      display: none;
      position: fixed;
      bottom: 64px;
      width: 100%;
      height: calc(100vh - 133px);
      background: #eeeeee;
      border-bottom: solid 1px #333333;
      a {
        display: block;
        // width: 25%;
        padding: 20px;
        font-size: 16px;
      }
    }
    .list_menu_mobile {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 15px;
      padding: 0;
      li {
        list-style: none;
        a {
          display: block;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          span {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header-container {
    grid-gap: 10px;
    .heder-center {
      form {
        button {
          font-size: 13px;
        }
      }
    }
    .header-right {
      justify-content: unset !important;
    }
  }
  .header-top {
    display: none;
    .container {
      .gap-2 {
        span {
          display: none;
        }
      }
    }
  }
  footer {
    .footer-top {
      grid-template-columns: 1fr;
    }
    .footer-bottom {
      padding: 20px 10px;
    }
  }
}
