.autocomplete-suggestions {
    max-height: 390px !important;
    border: 1px solid #D53C00;
    background: #fff;
    cursor: default;
    overflow: auto;
    width: 670px !important;
    &::-webkit-scrollbar {
        width: 10px;
        right: 10px;
        position: absolute;
    }
      
    &::-webkit-scrollbar-track { 
        // box-shadow: inset 0 0 5px grey;  
        background: #f5f5f5;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #D53C00;  
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #C23700; 
    }
    a {
        color: #333;
        background: #fff;
        border-bottom: 1px solid #ebebeb;
        padding: 0.75rem 1rem;
        font-weight: 500;
        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        } 
        &:hover {
            background: #FBECE6;
        }
    }
    b {
        color: #D53C00;
    }
}


@media (max-width: 960px) {

    .autocomplete-suggestions{
        left: 0px !important; 
        top: 97px !important;
        width: 100% !important;
    }
}
@media (max-width: 450px) {

    .autocomplete-suggestions{ 
        top: 73px !important; 
    }
}