.title_content {
    border-bottom: 1px solid #d8d8d8;
    color: #1b99e9;
    font-family: semibold;
    font-size: 14px;
    margin-bottom: 20px;
}
.fieldset_item_row{
    margin-bottom: 10px;
    text-align: center;
}
.form_name{
    color: #333333;
    display: inline-block;
    font-family: opensans;
    text-align: left;
    vertical-align: top;
    width: 140px;
}
.value{
    display: inline-block;
    position: relative;
    text-align: left;
    width: 240px;
}
.submitbt{
	background: #1b99e9;
	color: #fff;
    border-radius: 0;
    font-family: opensans;
}
.submitbt:hover,
.submitbt:focus
{
	color: #fff;
}
