
.frame_body {
  overflow: hidden;
  padding: 30px 10px;
  position: relative;
  background-color: #fff;
  @media(min-width: 1000px) {
    width: 76%;
    margin: auto;
    background-color: #fff;
    padding: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media(max-width: 768px){
    margin-bottom: 40px;
  }
}

.fieldset_item_row {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 40px;
  font-family: Roboto;
  position: relative;
}

.form_name {
  color: #333333;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -17px;
  left: 50px;
  z-index: 1;
  background: #fff;
  padding: 5px;
}

.value {
  text-align: left;
  position: relative;
}

.txtinput {
  border: 1px solid #b4b4b4;
  padding: 20px 15px;
  width: 100%;
  border-radius: 10px;
  &:focus {
    outline: none;
  }
}

.submitbt {
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: #228E45;
  color: #fff;
  display: block;
  padding: 18px 15px;
  font-size: 18px;
  border-radius: 10px;
}

.submitbt:hover {
  background-color: #228E45;
  color: #fff;
}

.title_form {
  font-size: 28px;
  text-align: center;
  color: #228E45;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  line-height: 35px;
  @media(max-width: 768px){
    font-size: 22px;
    line-height: 30px;
  }
}
.label_error{
  margin-top: 5px;
}