.frame_body {
  margin-bottom: 50px;
}

.frame_body .chitieu {
  background-color: #fff;
}

.frame_body .chitieu h1 {
  padding: 45px 15px 25px 15px;
  border-bottom: 1px solid #eee;
  font-size: 25px;
  color: #228E45;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.frame_body .chitieu .thank {
  text-align: center;
  color: #228E45;
  font-size: 20px;
  padding: 20px 0;
  border-top: 1px solid #eee;
  margin: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .frame_body .chitieu .thank {
    font-size: 18px;
    padding: 20px 10px;
  }
}

.frame_body .chitieu .item_dh {
  padding: 20px 100px;
  cursor: pointer;
}

.frame_body .chitieu .item_dh p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.frame_body .chitieu .item_dh p span {
  display: inline-block;
  font-weight: normal;
}

@media (max-width: 767px) {
  .frame_body .chitieu .item_dh {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .frame_body .chitieu .modal {
    margin-bottom: 50px;
  }
}

.frame_body .chitieu .modal .size {
  margin-top: 15%;
}

.frame_body .chitieu .modal .size .modal-header {
  position: relative;
}

.frame_body .chitieu .modal .size .modal-header .modal-title {
  color: #228E45;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 767px) {
  .frame_body .chitieu .modal .size .modal-header .modal-title {
    font-size: 18px;
  }
}

.frame_body .chitieu .modal .size .modal-header .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

.frame_body .chitieu .modal .size .modal-body {
  padding: 20px;
}

.frame_body .chitieu .modal .size .modal-body .item_ma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30%;
      grid-template-columns: 1fr 30%;
  padding: 10px 0;
  border-bottom: 1px dotted #ddd;
  grid-gap: 15px;
}

.frame_body .chitieu .modal .size .modal-body .item_ma .item_prd {
  text-align: justify;
}

.frame_body .chitieu .modal .size .modal-body .item_ma .gia_item {
  text-align: right;
}

.frame_body .chitieu .modal .size .modal-body .total_price {
  margin-top: 20px;
  text-align: right;
}

.frame_body .chitieu .modal .size .modal-body p {
  font-size: 16px;
  font-weight: bold;
}

.frame_body .chitieu .modal .size .modal-body p span {
  color: red;
}

.frame_body .chitieu .modal .size .modal-body p .item_prd {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
}

.frame_body .chitieu .modal .size .modal-footer {
  text-align: center;
  color: #228E45;
  font-size: 18px;
  font-weight: bold;
}

#style-44::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-44::-webkit-scrollbar {
  width: 5px;
  background-color: #1e8e04;
}

#style-44::-webkit-scrollbar-thumb {
  background-color: #1e8e04;
  border: 2px solid #1e8e04;
}

.list_prd {
  height: 275px;
  overflow-y: auto;
  padding: 10px;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  z-index: 99;
  margin-top: 5px;
}
/*# sourceMappingURL=management.css.map */