
.frame_body{
	overflow: hidden;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.fieldset_item_row {
    margin-bottom: 10px;
    text-align: center;
}
.form_name {
    color: #333333;
    font-family: opensans;
    text-align: left;
    vertical-align: top;
    width: 140px;
}

.value {
    text-align: left;
    width: 240px;
    position:relative;
}

.txtinput {
    border: 1px solid #b4b4b4;
    padding: 2px 6px;
    width: 100%;
}
.submitbt {
	background-repeat:no-repeat;
	background-position:16px center;
	background-color:#1b99e9;
    color: #fff;
    font-family: opensans;
    padding-left: 30px;
    
}
.submitbt:hover {
	background-color:#27a5f5;
    color: #fff;
}
.signin-submit{
    background-image: url("../images/icon_btn_signin.png");	
}
.register-submit{
    background-image: url("../images/icon_btn_register.png");	
}