.page-member {
  .page-title {
    padding: 24px 0 0 24px;

    color: #000000;
  }
}
.page-side {
  border-radius: 16px;
}

.page-dashboard {
  .text-body-tertiary {
    font-weight: 700;
    color: #bfbfbf;
  }
  .col-3 {
    img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      object-fit: cover;
      display: block;
      margin: 0 auto 1rem;
    }
    .btn-upload-image {
      display: block;
      margin: 0 auto 1rem;
      text-align: center;
      padding: 12px 20px;
      width: fit-content;
      border: 1px solid #dedede;
      &:hover {
        border-color: #d53c00;
        background: #d53c00;
        color: #fff;
      }
    }
  }
  .form-control {
    padding: 8px 16px;
    height: 40px;
    border-radius: 4px;
    border-color: #f5f5f5;
    color: inherit;
    font-size: inherit;
    background: #f5f5f5;
    box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
    &:focus {
      border-color: #d53c00;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
    }
  }
  .form-check {
    padding-left: 2rem;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
    margin-left: -2rem;
    margin-top: 0;
    box-shadow: none;
    &:checked {
      background-color: #d53c00;
      border-color: #d53c00;
    }
  }
  .btn-submit {
    background: #ea212d;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    &:hover {
      background: #c23700;
    }
    @media (max-width: 767px) {
      font-size: 12px !important;
    }
  }
}

.modal-change {
  .modal-dialog {
    max-width: 500px;
  }
  .modal-content {
    border-radius: 4px;
  }
  .btn-close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
    opacity: 1;
    background-color: #fff;
    border-radius: 100%;
    color: inherit;
    padding: 0;
    transition: 0.15s ease-in-out;
    &:hover {
      background-color: #d53c00;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
  }
  .form-submit {
    padding: 8px 16px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background: rgba(214, 61, 0, 0.4);
    &:hover {
      background: rgba(214, 61, 0, 1);
    }
  }
  .text-red {
    color: #d53c00;
  }
  .text-blue {
    color: #2476ff;
  }
  .form-control {
    padding: 8px 16px;
    height: 48px;
    border-radius: 4px;
    border-color: #f5f5f5;
    color: inherit;
    font-size: inherit;
    background: #f5f5f5;
    box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
    &::placeholder {
      color: #a3a3a3;
    }
    &:focus {
      border-color: #d53c00;
      background: #fff;
      box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
    }
    &.form-otp {
      background: #fff;
      text-align: center;
      font-size: 32px;
      border-radius: 0;
      box-shadow: none !important;
      border: none;
      border-bottom: 1px solid #dedede;
      width: 32px;
      height: 58px;
      padding: 2px;
      -moz-appearance: textfield;
      &.active,
      &:focus {
        border-color: #d53c00;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}
.col.ref_code.copy {
  .link_aff_copy::after {
    content: "";
    position: absolute;
    background-image: url(/modules/members/assets/images/icon-copy.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    top: 0px;
  }
}
form {
  .dia-chi {
    .col-2 {
      width: 14.666667%;
    }
  }
  .pe-4 {
    // padding-right: 0 !important;
  }
  .select2-container--default .select2-selection--single {
    background: #f5f5f5 !important;
    border: 0 !important;
    height: 40px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    // padding: 0 !important;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 14px;
  }
  span.select2-selection__arrow {
    top: 7px !important;
  }

  .form-bottom {
    .col-6 {
      border-right: 2px solid #f5f5f5;
    }
  }
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.address {
}
@media (max-width: 767px) {
  .address-dashboard {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}
