.page-favorite{
    .section-more{
        gap: 10px;
    }
    .layout-product-item{
        width: calc((100% - 40px) / 5);
        .layout-img{
            height: 177.19px;
        }
    }
}

@media (max-width: 768px) {
    .page-favorite{ 
        .layout-product-item{
            width: calc((100% - 20px) / 3);
            .layout-img{
                height: calc((100vw - 56px) / 3);

            }
        }
    }
}
@media (max-width: 450px) {
    .page-favorite{ 
        .layout-product-item{
            width: calc((100% - 10px) / 2);
            .layout-img{
                height: calc((100vw - 44px) / 2);

            }
        }
    }
}