.page-side {
    .page-content {
        .user_f1 {
            .user_f1_title {
                padding-bottom: 16px;
                border-bottom: 1px solid #ebebeb;
                .user_f1_title_item {
                    width: calc((100% - 20px) / 5);
                }
            }
            .user_f1_item {
                border-bottom: 1px solid #ebebeb;
                padding: 20px 0;

                .user_f1_item_item {
                    width: calc((100% - 20px) / 5);
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .page-side {
        .page-content {
            .user_f1 {
                .user_f1_title {
                    padding-bottom: 10px !important;
                    gap: 5px;
                    font-size: 12px !important;
                    .user_f1_title_item {
                        width: calc((100% - 5px) / 5) !important;
                        gap: 8px;
                        white-space: nowrap;
                        overflow-x: auto;
                        font-size: 12px !important;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
                .user_f1_item {
                    border-bottom: 1px solid #ebebeb;
                    padding: 10px 0;
                    gap: 8px;
                    font-size: 12px !important;

                    .user_f1_item_item {
                        width: calc((100% - 5px) / 5) !important;
                        white-space: nowrap;
                        overflow-x: auto;
                        font-size: 12px !important;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 960px) {
    .user_f1_title {
        gap: unset !important;
        font-size: 13px !important;
        gap: 10px !important;
        .user_f1_title_item {
            width: calc((100% - 5px) / 5) !important;
            white-space: nowrap;
            overflow-x: auto;
            font-size: 13px !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .user_f1_item {
        font-size: 13px !important;
        gap: 10px !important;
        .user_f1_item_item {
            width: calc((100% - 5px) / 5) !important;
            white-space: nowrap;
            overflow-x: auto;
            font-size: 13px !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
