.page-side .page-content .user_f1 .user_f1_title {
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  gap: 15px;
}
.page-side .page-content .user_f1 .user_f1_title .user_f1_title_item {
  width: calc((100% - 20px) / 5);
  font-weight: 700;
  color: #a3a3a3;
}
.page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:first-child {
  width: 5% !important;
  text-align: center;
}
.page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:nth-child(4) {
  width: 30% !important;
}
.page-side .page-content .user_f1 .user_f1_item {
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
  gap: 15px;
}
.page-side .page-content .user_f1 .user_f1_item .user_f1_item_item {
  width: calc((100% - 20px) / 5);
}
.page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:first-child {
  width: 5% !important;
  text-align: center;
}
.page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:nth-child(4) {
  width: 30% !important;
}

@media (max-width: 767px) {
  .page-side .page-content .user_f1 .user_f1_title {
    padding-bottom: 10px !important;
    gap: 5px;
    font-size: 11px !important;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item {
    gap: 8px;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 11px !important;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item::-webkit-scrollbar {
    display: none;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:first-child {
    width: 7% !important;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:nth-child(3) {
    width: 40% !important;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:nth-child(4) {
    width: 50% !important;
  }
  .page-side .page-content .user_f1 .user_f1_title .user_f1_title_item:nth-child(5) {
    width: 35% !important;
  }
  .page-side .page-content .user_f1 .user_f1_item {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    gap: 8px;
    font-size: 11px !important;
    align-items: center;
  }
  .page-side .page-content .user_f1 .user_f1_item .user_f1_item_item {
    overflow-x: scroll;
    font-size: 11px !important;
  }
  .page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:first-child {
    width: 7% !important;
  }
  .page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:nth-child(3) {
    width: 40% !important;
  }
  .page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:nth-child(4) {
    width: 50% !important;
  }
  .page-side .page-content .user_f1 .user_f1_item .user_f1_item_item:nth-child(5) {
    width: 35% !important;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .user_f1_title {
    gap: unset !important;
    font-size: 13px !important;
    gap: 10px !important;
  }
  .user_f1_title .user_f1_title_item {
    width: calc((100% - 5px) / 5) !important;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 13px !important;
  }
  .user_f1_item {
    font-size: 13px !important;
    gap: 10px !important;
  }
  .user_f1_item .user_f1_item_item {
    width: calc((100% - 5px) / 5) !important;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 13px !important;
  }
}/*# sourceMappingURL=introduce.css.map */