.order-status {
  gap: 4px;
}
.order-status a {
  width: 100%;
  padding: 12px 8px;
  text-align: center;
  border-bottom: 2px solid transparent;
}
.order-status a:hover {
  border-color: #d53c00;
}
.order-status a.active {
  border-color: #d53c00;
}

.item-order .page-border-radius {
  border-radius: 8px;
}
.item-order .item-order-detail {
  display: grid;
  grid-template-columns: 88px auto 150px;
  grid-gap: 1rem;
  padding: 16px 0;
  border-bottom: 1px solid #ebebeb;
}
.item-order .item-order-detail img {
  width: 88px;
  height: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}
.item-order .item-order-detail .text-grey {
  color: #949494;
}
.item-order .item-order-detail:last-child {
  border: none;
}
.item-order .item-header {
  padding: 16px 24px;
  margin-bottom: 1px;
}
.item-order .item-body {
  padding: 0 24px;
  margin-bottom: 1px;
}
.item-order .item-footer {
  background: #fafafa;
  padding: 16px 24px;
  border: 2px solid #fff;
}
.item-order .item-footer .title {
  width: 88px;
}
.item-order .btn-detail {
  padding: 10px 40px;
  color: #a3a3a3;
  border-radius: 4px;
  border: 1px solid #a3a3a3;
}
.item-order .btn-detail:hover {
  background: #d53c00;
  border-color: #d53c00;
  color: #fff;
}
.item-order .btn-detail-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #d53c00;
  background: #fdf5f2;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}
.item-order .btn-detail-complete:last-child {
  margin-bottom: 0;
}
.item-order .btn-detail-complete:hover {
  color: #fff;
  background: #d53c00;
}

.section-padding {
  padding: 16px 24px;
}

.section-grid {
  grid-template-columns: 1fr 1fr 1fr;
}
.section-grid .text-success {
  font-style: italic;
  color: #3ba500 !important;
}
.section-grid .text-error {
  font-style: italic;
  color: #ff8100 !important;
}

.section-total {
  border: 2px solid #fff;
  background: #fafafa;
  border-radius: 0 0 4px 4px;
}

.table-detail {
  margin-bottom: 0;
  color: inherit;
}
.table-detail th {
  padding: 16px 24px;
  color: #b0b0b0;
}
.table-detail th:first-child {
  border-radius: 4px 0 0 0;
}
.table-detail th:last-child {
  border-radius: 0 4px 0 0;
}
.table-detail td {
  padding: 16px 24px;
  vertical-align: middle;
  color: inherit;
}
.table-detail a {
  display: grid;
  grid-template-columns: 88px auto;
  grid-gap: 1rem;
}
.table-detail a img {
  height: 88px;
  width: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}

.modal-order-complete .modal-dialog {
  max-width: 500px;
}
.modal-order-complete .modal-content {
  border-radius: 4px;
}
.modal-order-complete .modal-body {
  padding: 48px;
}
.modal-order-complete .btn-close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  top: -20px;
  opacity: 1;
  background-color: #fff;
  border-radius: 100%;
  color: inherit;
  padding: 0;
  transition: 0.15s ease-in-out;
}
.modal-order-complete .btn-close:hover {
  background-color: #d53c00;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}
.modal-order-complete .form-submit {
  padding: 8px 16px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  background: rgba(214, 61, 0, 0.4);
}
.modal-order-complete .form-submit:hover {
  background: rgb(214, 61, 0);
}
.modal-order-complete .form-control {
  padding: 8px 16px;
  border-radius: 4px;
  border-color: #f5f5f5;
  color: inherit;
  font-size: inherit;
  background: #f5f5f5;
  box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
}
.modal-order-complete .form-control::-moz-placeholder {
  color: #a3a3a3;
}
.modal-order-complete .form-control::placeholder {
  color: #a3a3a3;
}
.modal-order-complete .form-control:focus {
  border-color: #d53c00;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
}
.modal-order-complete .modal-product {
  padding: 12px;
  border-radius: 4px;
  background: #f5f5f5;
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 12px;
  color: #757575;
}
.modal-order-complete .modal-product img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}
.modal-order-complete .modal-product div:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #383338;
}

.modal-check-coverage .table {
  border: 1px solid #ebebeb;
}
.modal-check-coverage .table td {
  padding: 14px;
  border: 1px solid #ebebeb;
}
.modal-check-coverage .table tr:nth-child(1) td {
  color: #b0b0b0;
  background: #f5f5f5;
}

.modal-rate .text-red {
  color: #d53c00;
}
.modal-rate .review-rate p {
  position: absolute;
  right: 0;
  top: 100%;
}
.modal-rate .review-rating-item {
  cursor: pointer;
  color: #dedede;
  transition: 0.1s ease-in-out;
}
.modal-rate .review-rating-item.active, .modal-rate .review-rating-item.select {
  color: #f7a928;
}
.modal-rate .list-image-review img {
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.modal-rate .submit-image {
  width: 100%;
  color: #d53c00;
  background: #fdf5f2;
  width: 100%;
  height: 48px;
  border-radius: 4px;
}
.modal-rate .submit-image.active {
  color: #b0b0b0;
  border: 2px dashed #b0b0b0;
  flex-direction: column;
  width: 72px;
  height: 72px;
  background-color: #fff;
}
.modal-rate .submit-image:hover {
  background: #d53c00;
  color: #fff;
  border-color: #d53c00;
}

.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.star-rating::before {
  content: "\f005\f005\f005\f005\f005";
  background: linear-gradient(90deg, #f7a928 var(--percent), #dedede var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 500px) {
  .item-order-detail {
    grid-template-columns: 88px 1fr 100px !important;
  }
  .section-grid {
    display: flex !important;
    flex-direction: column;
  }
  .table-detail td {
    padding: 16px 10px;
  }
  .table-detail a {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .item-order .btn-detail {
    padding: 10px;
  }
}/*# sourceMappingURL=orders.css.map */