.form_body .tbl_form_contents{
    display: none;
}
ul {
    list-style: outside none none;
    padding: 0;
}

.product_categories{
    webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 2;
    height: auto;
    padding-left: 20px;
    /* width: 100%; */
    margin: 0 auto;
    width: 600px;
    padding: 10px;
}
.product_categories .level_0 {
}
ul.product_categories  li {
    height: 4em;
    background: #f1f1f1;
    margin: 5px;
    padding-top: 12px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: inline-table;
    width: 281px;
}

ul.product_categories  li:hover {
    box-shadow: 0 0 11px hsl(26deg 99% 50% / 50%)
}
h2 {
    margin: 0;
    line-height: 22px;
    font-size: 25px;
    text-transform: uppercase;
}
.h2_0 a{
    font-size: 14px;
    color:#585858;
    font-weight:bold
}
.h2_0 a span svg{
    position: absolute;
}
.h2_0 a span:nth-child(2){
    padding-left: 40px;
}
.sub-menu li {
    margin-left:10px
}
li .toolbar a{
    font-size: 13px;
    color:#333333;
    font-weight: normal;
}
.sub-menu span{
    font-size: 14px;
}
a:hover{
    color: #f22c11;
}
.level_0 .h2_0 a{
    color: #585858;
}
.level_1 .h2_1 a{
    color: #333333;
    font-weight: bold;
}
.level_2 .h2_2 a{
    color: #585858;
}
.level_2 .h2_2 a:hover{
    color: #f22c11;
}
.wrapper_children_level2{
    display: none;
}
#gmap {
    height: 400px;
    margin: 20px 0px;
    width: 100% !important;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 15px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

table th, td {
    text-align: center;
}

.ui-widget-header {
    background: none;
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #C73536 !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #333;
    font-size: 14px;
}

body .panel a:focus, body .panel a:hover {
    color: #C73536 !important;
    background-color: transparent;
}

.ui-widget-content {
    border: none;
    background: white;
}

.ui-state-default:focus {
    outline: none !important;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #333;
    border-color: #333;
}

.panel-info {
    border: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 1em 0 !important;
}
.update_btn {
    height: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    padding: 5px 20px;
    border-left: 1px solid #fff;
    text-align: center;
    font-size: 12px;
}
.update_btn i {
    height: 25px;
    color: #2e6da4;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.update_btn span {
    width: 100%;
}
.update_btn:hover, .update_btn:focus {
    color: #333;
    text-decoration: none;
    background: #e3e4e4;
}