.item {
  text-align: center;
  .img-banner {
  }
  .info-banner {
    top: 20%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    .name-banner,
    .summary-banner {
      text-transform: uppercase;
    }
    .name-banner {
      font-size: 40px;
      font-weight: 700;
      span {
        &:last-child {
          color: #ea212d;
        }
      }
    }
    .summary-banner {
      font-size: 40px;
      font-weight: 700;
    }
    .content-banner {
      font-size: 16px;
    }
    .btn-banner {
      margin-top: 48px;
      a {
        color: #fff;
        background: #ea212d;
        padding: 20px 25px;
        border-radius: 100px;
      }
    }
  }
}
@media all and (max-width: 1000px) {
  .item {
    .img-banner {
    }
    .info-banner {
      top: 10%;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 720px;
      margin: auto;
      text-align: left;
      .name-banner,
      .summary-banner {
      }
      .name-banner {
        font-size: 28px;
      }
      .summary-banner {
        font-size: 24px;
      }
      .content-banner {
        font-size: 16px;
      }
      .btn-banner {
        margin-top: 24px;
        a {
          padding: 14px 20px;
        }
      }
    }
  }
}
@media all and (max-width: 500px) {
  .item {
    .img-banner {
    }
    .info-banner {
      position: unset !important;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;
      .name-banner,
      .summary-banner {
      }
      .name-banner {
      }
      .summary-banner {
      }
      .content-banner {
      }
      .btn-banner {
        a {
        }
      }
    }
  }
}
