.banner-slide {
  .item {
    .img-banner {
      max-width: 100%;
    }
    .info-banner {
      color: #fff;
      top: 20%;
      width: 100%;
      max-width: 720px !important;
      margin: auto;
      z-index: 1000;
      .name-banner,
      .summary-banner {
        text-transform: uppercase;
      }
      .name-banner {
        font-size: 24px;
        color: #fff;
      }
      .summary-banner {
        font-size: 40px;
        font-weight: 700;
      }
      .content-banner {
        font-size: 18px;
      }
      .btn-banner {
        margin-top: 48px;
        a {
          color: #fff;
          background: #ea212d;
          padding: 16px 40px;
          border-radius: 100px;
          &:hover {
            padding: 10px 20px;
            margin: 20px;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
@media all and (max-width: 1000px) {
  .banner-slide {
    .item {
      .img-banner {
      }
      .info-banner {
        padding: 10px 40px;
        top: 0;

        .name-banner,
        .summary-banner {
          text-transform: uppercase;
        }
        .name-banner {
          font-size: 16px;
        }
        .summary-banner {
          font-size: 20px;
        }
        .content-banner {
          font-size: 14px;
        }
        .btn-banner {
          margin-top: 24px;
          a {
            padding: 10px 20px;
            // &:hover {
            //   padding: 8px 16px;
            //   // margin: 10px;
            // }
          }
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .banner-slide {
    .item {
      .img-banner {
      }
      .info-banner {
        display: none;
        padding: 10px 40px;
        top: 0;

        .name-banner,
        .summary-banner {
          text-transform: uppercase;
        }
        .name-banner {
          font-size: 16px;
        }
        .summary-banner {
          font-size: 20px;
        }
        .content-banner {
          font-size: 14px;
        }
        // .btn-banner {
        //   margin-top: 24px;
        //   a {
        //     padding: 10px 20px;
        //   }
        // }
      }
    }
  }
}
